ul {
    list-style: none;
}
.icon-pencil {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/icons/pencil.svg) center center no-repeat;
    background-size: contain;
}
.tooltipped {
    cursor: pointer;
}
.main-title {
    margin-bottom: 20px;
    h2 {
        font-weight: bold;
        font-size: 18px;
        color: #7e7e7e;
        margin-bottom: 0;
        line-height: 1.1;
        @include flexbox();
        @include align-items(center);
        i {
            margin-right: 10px;
            font-size: 22px;
        }
    }
    p {
        font-size: 14px;
        margin: 0;
    }
    @media (max-width: 767px) {
        h2 {
            font-size: 16px;
        }
    }
}
.main-wrapper {
    padding-top: 54px;
    flex: 1;
}
.alert {
    text-align: center;
    @include border-radius(0);
    font-weight: bold;
    padding: 15px;
    padding-right: 50px;
    &.alert-primary {
        color: $white;
        background: $info;
        border-color: $info;
        &.notification-alert {
            position: fixed;
            top: 54px;
            width: 100%;
            z-index: 999;
            p {
                margin: 0;
                font-size: 14px;
            }
        }
        .close-icon {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 24px;
            cursor: pointer;
        }
    }
}
.filter-job {
    .title-welcome {
        font-weight: bold;
        font-size: 18px;
        color: #32b6c4;
        padding: 40px 0 25px;
        margin: 0;
    }
    .filter-box {
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 12px;
        margin-bottom: 12px;
        h2 {
            font-size: 14px;
            font-weight: 700;
            color: #4e4e4e;
            margin: 0;
        }
        .filter-body {
            margin-top: 10px;
            font-size: 14px;
            .flex-span {
                line-height: 1.3;
                margin-bottom: 8px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                &:last-child {
                    margin-bottom: 0;
                }
                .icon-dropdown-select {
                    margin-left: 10px;
                }
            }
            .filter-link {
                color: $darkblack;
                text-decoration: none;
                display: block;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 0.5rem;
                &:hover {
                    text-decoration: underline;
                    color: $info;
                }
            }
            .filter-content {
                margin-bottom: 15px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .edit-input {
                color: $info;
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 0;
                @include flexbox();
                @include justify-content(space-between);
                .filter-dec {
                    max-width: 210px;
                    color: #4e4e4e;
                    font-weight: 400;
                }
                .icon {
                    color: #4e4e4e;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    margin-top: 3px;
                    margin-left: 10px;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                }
            }
        }
    }
    .profile-progress {
        .profile-progress-title {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 5px;
        }
        .progress {
            height: 8px;
            @include border-radius(0);
            background: #c4c4c4;
            .determinate {
                background-color: $info;
            }
        }
    }
    .filter-overflow-scroll {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
        min-height: 100vh;
        padding-left: 4px;
        .small-info {
            font-size: 11px;
            color: $darkblack;
        }
        h4 {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: bold;
            color: #4e4e4e;
        }
    }
    .filter-inner-block {
        .filter-toggle {
            &.active {
                .filter-title {
                    .arrow-icon {
                        @include transform(rotateX(180deg));
                    }
                }
            }
        }
        .filter-title {
            padding: 0;
            background-color: transparent !important;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            i {
                color: $info;
                margin: 0;
                min-width: 20px;
                min-height: 20px;
                margin-left: 5px;
                cursor: pointer;
                @include transition(0.3s, ease-in-out);
            }
        }
        .filter-body {
            padding: 10px 0 0 0;
            margin-top: 0;
            .custom-control {
                display: block;
                margin-bottom: 3px;
                &:last-child {
                    margin-bottom: 0;
                }
                label {
                    color: $darkblack;

                    .custom-control-label {
                        padding-left: 30px;
                        cursor: pointer;
                        height: auto;
                        line-height: 25px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .job-box {
        position: relative;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 15px;
        margin-bottom: 15px;
        h2 {
            font-weight: bold;
            font-size: 14px;
            color: #4e4e4e;
            margin-bottom: 8px;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            .wishlist-toggle{
                margin-left: 8px;
                cursor: pointer;
            }
            i {
                color: $info;
            }
        }
        .job-details {
            @include flexbox();
            .img {
                min-width: 75px;
                width: 75px;
                height: 75px;
                min-height: 75px;
                background: #f5f5f5;
                margin-right: 15px;
            }
            .job-info {
                .job-title {
                    display: inline-block;
                    padding-bottom: 3px;
                }
                .job-desc {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin-bottom: 5px;
                }
                .job-location {
                    font-size: 13px;
                }
            }
        }
    }
    .filter-box-header{
        padding-top: 15px;
        h2{
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #4E4E4E;
        }
        .edit-input{
            color: #32B6C4;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
        }
    }

    @media (max-width: 1199px) {
        padding: 0;
    }
    @media (max-width: 767px) {
        .job-slider {
            margin: 0 -7.5px;
        }
    }
}
.sub-filter-toggle {
    li {
        &.active {
            .filter-title {
                .custom-control {
                    .custom-control-label {
                        font-weight: 600;
                    }
                }
            }
            .filter-title {
                h5 {
                    font-weight: 600;
                }
            }
            .inner-arrow-icon {
                @include transform(rotateX(180deg));
            }
        }
    }
    .filter-title {
        margin-bottom: 5px;
        h5 {
            margin-bottom: 0px;
            font-size: 14px;
            color: #4e4e4e;
            font-weight: 400;
        }
    }
    .sub-filter-body {
        padding-left: 5px;
        padding-bottom: 8px;
        .filter-link {
            font-size: 13px !important;
            margin-bottom: 5px !important;
        }
    }
}
.custom-radio {
    [type="radio"]:checked{
       + span{
            &::after {
                border: 2px solid $info !important;
            }  
        }
    }
    .custom-control-label {
        &:after,
        &::before {
            width: 20px;
            height: 20px;
            margin: 0;
            margin-top: 2px;
        }
        &::before {
            border: 2px solid #c4c4c4 !important;
        }
        &:after {
            background-color: $info !important;
        }
    }
}
.custom-checkbox {
    [type="checkbox"] {
        &:checked {
            + .custom-control-label {
                &:after {
                    border: 2px solid $info !important;
                    background-color: $info !important;
                }
            }
        }
    }
    .custom-control-label {
        &:after {
            border: 2px solid #c4c4c4 !important;
            margin-top: 2px;
        }
        &::before {
            top: 2px !important;
            left: 1px !important;
        }
    }
}
.filter-switch{
    label{
        input[type=checkbox]:checked{
            +.lever{
                background-color: rgba($info, 0.4);
                &:after{
                    background-color: $info;
                }
            }
        }
    }
}
.site-more-btn {
    text-align: center;
    a {
        text-decoration: underline;
        font-weight: 700;
        &:hover {
            text-decoration: none;
        }
    }
}
.filter-side-block {
    .user-name {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: bold;
    }
    .progress {
        margin-bottom: 0;
    }
    .profile-progress-info {
        font-size: 12px;
        color: #4e4e4e;
        margin-bottom: 5px;
    }
    .filter-box {
        padding-bottom: 15px !important;
        margin: 0;
        border: none;
    }
}
.filter-data-block {
    border-left: 1px solid #dee2e6;
    .main-description-block {
        padding: 40px 3px 0;
        .main-title {
            margin-left: 12px;
            p {
                margin-top: 5px;
            }
            .icon-info {
                background: url(../images/icons/info.svg) no-repeat center center;
                width: 15px;
                height: 15px;
                background-size: contain;
                display: inline-block;
                margin-left: 12px;
                margin-bottom: -3px;
            }
            .icon-square-check {
                background: url(../images/icons/square-check.svg) no-repeat center center;
                width: 24px;
                height: 24px;
                background-size: contain;
                display: inline-block;
            }
            .icon-label {
                padding: 1px 5px;
                font-weight: bold;
                background: $white;
                border: 1px solid #ec656a;
                @include border-radius(5px);
                font-size: 12px;
                color: #ec656a;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .job-slider-block {
            padding: 20px;
            margin-bottom: 20px;
            .slider-item {
                background: $white;
                border: 1px solid #eeeeee;
                padding:10px;
                margin: 10px 15px;
                font-size: 14px;
                @include border-radius(5px);
                @include transition(0.3s, ease-in-out);
                @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14));
                &:hover {
                    @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.14));
                }
                .slider-title {
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(space-between);
                    margin-bottom: 5px;
                    .match-job {
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .job-ago-time {
                        color: #32b6c4;
                        font-weight: bold;
                        @include flexbox();
                        @include align-items(center);
                        .wishlist-toggle{
                            @include flexbox();
                            margin-left: 5px;
                            cursor: pointer;
                        }
                        i {
                            font-size: 16px;
                        }
                    }
                }
                .box-info {
                    @include flexbox();
                    .box-img {
                        min-width: 75px;
                        width: 75px;
                        margin-right: 12px;
                        margin-top: 5px;
                    }
                    .box-desc {
                        display: grid;
                        .box-title {
                            outline: none;
                            display: inline-block;
                        }
                        p {
                            font-size: 13px;
                            margin-bottom: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                .location-dec {
                    padding-top: 8px;
                    display: inline-block;
                    font-size: 13px;
                }
            }
            @media (max-width: 1200px) {
                padding: 15px;
                margin-bottom: 15px;
            }
            @media (max-width: 992px) {
                padding: 15px 0;
            }
            @media (max-width: 767px) {
                &.bg-light {
                    margin: 0 -15px;
                    padding: 15px;
                }
                .slider-item {
                    margin: 0 7.5px;
                }
            }
        }
        .site-more-btn {
            margin-top: 15px;
        }
    }
    @media (max-width: 992px) {
        border-left: transparent;
        .main-description-block {
            padding: 15px 0 0;
            .main-title {
                margin-left: 0;
            }
        }
    }
}
.live-application-block {
    background-color: $info;
    padding: 50px 0;
    .container-fluid {
        padding: 0 80px;
    }
    .main-title {
        h2 {
            display: block;
            color: $white;
        }
    }
    .site-more-btn{
        a{
            color: $white;
        }
    }
    .live-app-box {
        position: relative;
        background: $white;
        padding: 15px;
        margin-bottom: 15px;
        @include border-radius(5px);
        @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14));
        @include transition(0.3s, ease-in-out);
        &:hover {
            @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.14));
        }
        .app-img-name {
            @include flexbox();
            @include align-items(center);
            .img {
                background: $white;
                border: 1px solid #c4c4c4;
                max-width: 60px;
                min-width: 60px;
                min-height: 60px;
                max-height: 60px;
                margin-right: 10px;
                @include flexbox();
                @include align-items(center);
            }
            .title {
                font-weight: 700;
            }
        }
        .applied-date {
            @include flexbox();
            margin-top: 10px;
            span {
                font-weight: 700;
                font-size: 12px;
                margin-left: 10px;
            }
        }
        .status {
            padding-top: 5px;
            font-size: 14px;
        }
    }
    @media (max-width: 992px) {
        padding: 20px 0;
        .container-fluid {
            padding: 0 15px;
        }
    }
}
.job-tab-wrapper {
    padding: 15px 0;
    ul {
        @include flexbox();
        @include flex-wrap(wrap);
        li {
            border-right: 1px solid #c4c4c4;
            width: 33.33%;
            &:last-child {
                border: none;
            }
            a {
                font-size: 16px;
                font-weight: 600;
                color: $info;
                text-align: center;
                width: 100%;
                display: block;
                padding: 5px 10px;
                background-color: $white;
                border-bottom: 1px solid $info;
                @include transition(0.3s, ease-in-out);
                text-decoration: none !important;
                &:hover {
                    background-color: #f5f5f5;
                }
                &.active {
                    background-color: $info;
                    color: $white;
                }
            }
        }
    }
    @media (max-width: 992px) {
        padding: 0;
        .container {
            padding: 0;
        }
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
.search-input {
    margin-bottom: 20px;
    .input-field {
        margin: 0;
        border: 1px solid #ced4da;
        padding-left: 10px;
        @include border-radius(100px);
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .form-control {
            border-bottom: none !important;
            margin: 0;
            box-shadow: none !important;
            padding: 0 15px;
            height: 35px;
        }
        .search-btn {
            min-width: 85px;
            margin: -1px;
            height: 35px;
            line-height: 1;
            background-color: #ec656a;
            text-decoration: none;
            @include inline-flex;
            @include align-items(center);
            @include justify-content(center);
            @include border-radius(35px);
        }
    }
    @media (max-width: 992px) {
        .input-field {
            .search-btn {
                min-width: 50px;
            }
            .form-control {
                padding: 0 10px 0 8px;
            }
        }
    }
}
.filter-block {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 16px;
    .filter-title {
        font-weight: 700;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .icon-dropdown-select {
        .select-wrapper {
            border-bottom: none;
        }
    }
}
.match-job-block {
    .main-title {
        margin-left: 0 !important;
        margin-bottom: 8px;
        padding: 16px 0;
        text-align: center;
        h2 {
            color: #4e4e4e;
            @include inline-flex;
        }
    }
    @media (max-width: 992px) {
        .category-box {
            .job-details {
                margin-bottom: 20px;
            }
        }
    }
}
.filter-side-block {
    .filter-btn {
        @include border-radius(50px);
        border: 1px solid #c4c4c4;
        @include inline-flex;
        @include align-items(center);
        font-weight: normal;
        color: $darkblack;
        min-width: 100%;
        padding: 6px 15px;
        background-color: transparent;
        box-shadow: none;
        text-transform: initial;
        text-decoration: none !important;
        i {
            margin-right: 5px;
        }
        span {
            padding-left: 3px;
        }
    }
    .filter-select {
        max-width: 100%;
        @include border-radius(50px);
        border: 1px solid #c4c4c4;
        font-weight: normal;
        min-width: 100%;
        padding: 6px 15px;
        color: $darkblack;
        background-color: transparent;
        box-shadow: none;
        text-decoration: none !important;
        .icon {
            height: auto;
            font-size: 22px;
            left: 10px;
            @include flexbox();
            @include align-items(center);
        }
        .select-wrapper {
            border: none;
            input {
                padding-left: 25px;
                line-height: normal;
            }
            .caret {
                display: none !important;
            }
        }
    }
    @media (max-width: 992px) {
        border-bottom: 1px solid #32b6c4;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    @media (max-width: 575px) {
        .filter-btn {
            font-size: 12px;
            padding: 5px;
            line-height: 23px;
        }
        .filter-select {
            padding: 5px;
            .icon {
                left: 5px;
                font-size: 18px;
            }
            .select-wrapper {
                input {
                    font-size: 12px;
                    line-height: 23px;
                }
            }
        }
        .col {
            width: 100% !important;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.mobile-filter-nav {
    position: fixed;
    top: 0px;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: #F5F5F5;
    transition: left 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
    &.open{
        left: 0;
    }
    ul{
        ul{
        position: fixed;
        top: 0px;
        left: -100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        z-index: 10;
        @include transition(0.3s, ease-in-out);
        height: 100vh;
        bottom: 0;
        background: #F5F5F5;
        overflow: hidden;
        overflow-y: auto;
        &.open{
            left: 0;
            right: 0;
        }
        }
    }
   li{
       line-height: normal;
       a{
           line-height: normal;
           height: auto;
           text-decoration: none !important;
            padding: 12px 20px;
            position: relative;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            @include transition(0.3s, ease-in-out);
            .filter-name {
                color: #4e4e4e;
            }
       }
   }
    .title {
        padding: 12px 20px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom: 1px solid #c4c4c4;
        .name {
            font-weight: bold;
            font-size: 16px;
        }
        .mobile-filter-close {
            color: #4e4e4e;
            cursor: pointer;
            @include flexbox();
            @include transition(0.3s, ease-in-out);
        }
    }
    .filter-nav-title{ 
        border-bottom: 1px solid #c4c4c4;
        .arrow{
            @include flexbox();
            @include align-items(center);
        }
        .detail{
            color: #4E4E4E;white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
       
    }
    .back {
        .name {
            font-weight: bold;
            font-size: 16px;
            color: #4e4e4e;
            @include flexbox();
            @include align-items(center);
            .icon-back {
                margin-right: 5px;
            }
        }
        .icon-close {
            cursor: pointer;
            color: #4e4e4e;
            @include flexbox();
            @include transition(0.3s, ease-in-out);
        }
    }
    .menu-body {
        text-align: center;
        padding: 10px 15px 10px;
        .menu-title {
            color: #4e4e4e;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
        }
        .form-content {
            max-width: 300px;
            margin: 0 auto;
            &.content-md{
                max-width: 400px;
            }
            .flex-span{
                margin-bottom: 15px;
                text-align: left;
            }
            .form-control{
                line-height: 35px;
                height: auto;
            }
            .label-title{
                font-size: 14px;
                margin-bottom: 5px;    
                font-weight: 400;
                display: block;
                color: #4E4E4E;
                
            }
            .icon-dropdown-select{
                max-width: 100%;
            }
        }
       
        .grid-max-min{
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 70px 1fr;
        }
    }
    .form-action {
        padding-top: 20px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        a {
            margin: 0 5px;
            text-decoration: none;
            text-transform: initial;
            background-color: $info;
            padding: 6px 24px;
            height: auto;
            line-height: 20px;
            font-weight: 700;
            border: 2px solid $info;
            box-shadow: none;
            @include border-radius(100px);
        }
    }
    .footer {
        padding: 25px 20px;
        .form-action{
            padding-top: 0;
        }
    }
}
