/* Variables */
$bodyfont: "Colfax", sans-serif;
$bodyfontsize: 16px;
$bodyfontcolor: #000000;
$bodybg: #f5f5f5;
$darkBlack: #222222;
$white: #ffffff;
$black: #000000;
$bg-gray-light: #f5f5f5;
$bg-gray-dark: #1e1e1e;
$bg-dark: #191919;

/* Fonts */

// Colfax
$font-colfax: "Colfax", sans-serif;
$font-colfax-medium: "Colfax-Medium", sans-serif;
$font-colfax-bold: "Colfax-Bold", sans-serif;
$font-colfax-black: "Colfax-Black", sans-serif;

// Elena
$font-elena: "Elena", "georgia", serif;
$font-elena-bold: "Elena-Bold", "georgia", serif;

@font-face {
  font-family: "Colfax";
  src: url(../fonts/colfax/regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: "Colfax-Medium";
  src: url(../fonts/colfax/medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Colfax-Bold";
  src: url(../fonts/colfax/bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Elena";
  src: url(../fonts/elena/regular.woff);
  font-weight: normal;
}

/* Mixins */
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($box-shadow) {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin box-shadow-all($bs-t, $bs-r, $bs-b, $bs-l, $box-shadow-all-color) {
  box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -webkit-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -moz-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -o-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
}

@mixin transition($duration, $ease) {
  -webkit-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  transition: all $duration $ease;
}
@mixin transitionValue($value, $duration, $ease) {
  -webkit-transition: $value $duration $ease;
  -moz-transition: $value $duration $ease;
  -o-transition: $value $duration $ease;
  transition: $value $duration $ease;
}
@mixin opacity($value) {
  -moz-opacity: $value;
  -khtml-opacity: $value;
  -webkit-opacity: $value;
  opacity: $value;
}
@mixin transform($value) {
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

/* display: flex */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
// Display Order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

/** Operation **/
/* Parametric Mixins */
/** Guarded Mixins **/
