.main-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1040;
    background-color: $white;
    @include box-shadow(0px 1px 5px #b8b8b8);
    .navbar {
        padding: 16px 0;
        .logo-block {
            padding: 0;
            margin: 0;
            @include flexbox();
        }
        .navbar-menu {
            flex-grow: 0;
            .navbar-nav {
                li {
                    padding: 0 15px;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        color: $darkblack;
                        font-size: 16px;
                        padding: 0;
                        position: relative;
                        display: inline-block;
                        @include transition(0.2s, ease-in-out);
                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 1px;
                            bottom: 0;
                            @include transition(0.2s, ease-in-out);
                            left: 50%;
                            background-color: $purple;
                        }
                        &:hover {
                            color: $purple;
                            &:after {
                                width: 100%;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
            .schedule-btn {
                color: $purple;
                font-size: 16px;
                border: 1px solid $purple;
                min-width: 160px;
                height: 46px;
                margin-left: 60px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                @include transition(0.2s, ease-in-out);
                @include border-radius(25px);
                &:hover {
                    background-color: $purple;
                    color: $white;
                }
            }
        }
    }
    .mobile-menu-icon {
        padding: 0;
        border: none;
        span {
            width: 25px;
            display: block;
            height: 3px;
            margin: 4px 0px;
            cursor: pointer;
            @include border-radius(5px);
            @include transition(0.2s, ease-in-out);
            background-color: $darkblack;
        }
    }
    @media (max-width: 991px) {
        .navbar {
            height: 60px;
            padding: 10px 0;
            .navbar-menu {
                .schedule-btn {
                    height: 40px;
                    margin-left: 30px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .navbar {
            .navbar-menu {
                .schedule-btn {
                    margin: 20px 20px 0;
                }
                .navbar-nav {
                    li {
                        padding: 5px 20px !important;
                    }
                }
            }
            .mobile-menu {
                border-top: 1px solid #eee;
                border-right: transparent;
                margin-top: 60px;
                min-height: calc(100vh - 60px);
            }
        }
    }
    @media (max-width: 575px) {
        .navbar {
            .mobile-menu {
                width: 280px;
            }
        }
    }
}
