@import url('//fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* Variables */
$portalbodyfont		  : 'Lato', sans-serif!important;
$portalbodyfontsize	  : 14px;
$portalbodycolor	  :#ffffff;

$white		:#fff;
$black		:#000;
$darkblack  :#1A1A1A;
$blackgray	:#15181A;
$blackgray2	:#141821;

$gray		:#858997;
$lightgray  :#C2C6D1;
$darkgray	:#727272;
$orange     :#FF6332;
$red        :#f25a6b;
$blue		:#3276ff;
$lightblue	:#2F66FF;
$darkblue	:#5351FC;
$green      :#7FE230;

/* Mixins */
@mixin appearance($value) {
    -o-appearance: $value;
    -ms-appearance: $value;
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
@mixin box-shadow ($box-shadow){
    -moz-box-shadow:$box-shadow;
    -webkit-box-shadow:$box-shadow;
    box-shadow:$box-shadow;
}
@mixin box-shadow-all ($bs-t, $bs-r, $bs-b, $bs-l, $box-shadow-all-color){
    box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -webkit-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -moz-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -o-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
}
@mixin transition($duration, $ease) {
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}
@mixin transition-variable($var,$duration, $ease) {
    -webkit-transition: $var $duration $ease;
    -moz-transition: $var $duration $ease;
    -o-transition: $var $duration $ease;
    transition: $var $duration $ease;
}
@mixin transition-all($all, $visibility, $z-index) {
    -webkit-transition: $all $visibility $z-index;
    -moz-transition: $all $visibility $z-index;
    -o-transition: $all $visibility $z-index;
    transition: $all $visibility $z-index;
}

@mixin transform($value) {
    -moz-transform: $value;  
    -webkit-transform: $value;  
    -o-transform: $value;  
    -ms-transform: $value; 
    transform: $value;
}
@mixin transformAll($value, $value) {
    -moz-transform: $value, $value;  
    -webkit-transform: $value, $value;  
    -o-transform: $value, $value;  
    -ms-transform: $value, $value; 
    transform: $value, $value;
}

@mixin opacity($value) {
    -moz-opacity: $value;
    -khtml-opacity: $value;
    -webkit-opacity: $value;
    opacity: $value;
}
@mixin mb ($value) {
    margin-bottom: $value;
}
@mixin mt ($value) {
    margin-top: $value;
}
@mixin ml ($value) {
    margin-left: $value;
}
@mixin mr ($value) {
    margin-right: $value;
}
@mixin pb ($value) {
    padding-bottom: $value;
}
@mixin pt ($value) {
    padding-top: $value;
}
@mixin pl ($value) {
    padding-left: $value;
}
@mixin pr ($value) {
    padding-right: $value;
}

/* display: flex */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
      -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
}
@mixin align-items($align) {
    -webkit-align-items: $align;
      -moz-align-items: $align;
        -ms-align-items: $align;
        -ms-flex-align: $align;
            align-items: $align;
}
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
      -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
      -moz-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
}
@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
      -moz-flex-flow: $flow;
        -ms-flex-flow: $flow;
            flex-flow: $flow;
}
// Display Order
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
      -moz-box-ordinal-group: $val;     
          -ms-flex-order: $val;     
            -webkit-order: $val;  
              order: $val;
}


/** Operation **/
/* Parametric Mixins */
/** Guarded Mixins **/

/* common CSS - Start */
html .portal {
    .cursor-pointer { cursor: pointer; }
    .height-auto { min-height: auto !important; }

    .text-lightgray { color: #979797 !important; }
    .text-danger { color: #FF4E4E !important; }
    .text-success { color: #6FCF97 !important; }
    .text-gray { color: #AAB0C9 !important; }
    .text-warning { color: #FFB332 !important; }
    .text-orange { color: #FF604E !important; }
    .text-blue { color: $blue !important; }
    .text-overflow { max-width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; }
    .font-16 { font-size: 16px !important; 
        @media(max-width: 767px) { font-size: 14px !important; }
    }
    .font-14 { font-size: 14px !important; }
    .btn { /* box-shadow: 0px 10px 30px rgba(19, 23, 31, 0.2); */ font-weight: 400; font-size: 16px; text-align: center; height: 45px; padding: 0px 20px; @include border-radius(4px); @include transition(0.3s, ease-in-out); font-family: $portalbodyfont; white-space: nowrap; line-height: 43px;
        &:focus { outline: none !important; box-shadow: none !important; }
        &.btn-primary { background: $blue; color: $white; border-color: $blue;
            &.pre-icon { @include inline-flex; @include align-items(center); @include justify-content(center); }
            em { width: 14px; height: 14px; margin-right: 10px; }
            &:hover, &:focus { background: $darkblue; border-color: $darkblue; }
        }
        &.btn-orange { background: $orange; color: $white; border-color: $orange;
            &:hover, &:focus { background: #df3500; border-color: #df3500; }
        }
        &.btn-gray { background: #DDE2E5; color: #8F8F8F !important; border-color: #DDE2E5;
            &:hover, &:focus { background: #c6cacc; border-color: #c6cacc; color: $white !important; }
        }
        &.btn-danger { background: #F03D3E; color: $white; border-color: #F03D3E;
            &:hover, &:focus { background: #ce0c0d; border-color: #ce0c0d; color: $white; }
        }
        &.btn-only-text { background: transparent; font-size: 15px; color: #3276FF; font-weight: 400; box-shadow: none; padding: 0; height: auto !important; letter-spacing: 0.45px; margin: 0 10px;
            &.text-gray { color: #8690A0; }
            &.text-blue { color: #3276FF; }
            &:hover, &:focus { color: $gray; 
                &.text-gray { color: $blue !important; }
                &.text-blue { color: $gray !important; }
            }
        }
        &.btn-outline-secondary { background: #FFFFFF; border: 1px solid #8690A0; color: #8690A0; 
            &:hover, &:focus { background: #8690A0; border-color: #8690A0; color: $white; }
        }
        &.btn-outline-blue { background: #FFFFFF; border: 1px solid #DDE2E5; color: #4a4bff; 
            &:hover, &:focus { background: #4a4bff; border-color: #4a4bff; color: #FFFFFF; }
        }
        &.btn-outline-primary { background: #FFFFFF; border: 1px solid #4a4bff; color: #4a4bff !important; 
            &:hover, &:focus { background: #4a4bff; border-color: #4a4bff; color: #FFFFFF !important; }
        }
        &.btn-outline-danger { background: $white; border-color: #FF4E4E; color: #FF4E4E; 
            &:hover, &:focus { background: #FF4E4E; border-color: #FF4E4E; color: $white; }
        }
        &.btn-round { @include border-radius(50px); }
        &.btn-disable { background: #E2E2F0; @include box-shadow(none); color: $white;
            &:hover, &:focus { background: #E2E2F0; color: $white; }
        }
        &.btn-lg { height: 50px; min-width: 180px; }
        &.btn-md { height: 40px; line-height: 38px; min-width: 130px; font-size: 15px; }
        &.btn-w160 { min-width: 160px; }
        &.btn-w175 { min-width: 175px; }
        &.btn-w200 { min-width: 200px; }
        &.btn-w150 { min-width: 150px; }
        &.btn-w130 { min-width: 130px; }
        &.btn-full { min-width: 100%; }
        &.btn-icon { color: #4953F9; font-size: 26px; @include box-shadow(none); background: transparent; padding: 0 20px; font-weight: 400;
            &.disabled { color: #C2C6D1; 
                &:hover { color: #C2C6D1; }
            }
            &.active { color: #4953F9; 
                &:hover { color: $blue; }
            }
            &:hover { color: $darkgray; }
        }
        @media (max-width: 575px) { font-size: 14px; height: 40px; padding: 0px 15px; line-height: 40px;
            &.btn-w160 { min-width: auto; }
            &.btn-w175 { min-width: auto; }
            &.btn-w200 { min-width: auto; }
            &.btn-w150 { min-width: auto; }
            &.btn-w130 { min-width: auto; }
        }
    }

    .badge { padding: 6px 15px; font-size: 14px; @include border-radius(4px); line-height: 1; font-weight: 400;
        &.badge-primary { background: #3276FF; color: #FFFFFF !important; }
        &.bg-danger { background-color: #EB2121 !important; color: $white; }
        &.bg-orange { background-color: #FF6332 !important; color: $white; }
        &.bg-warning { background-color: #FFB332 !important; color: $white; }
        &.bg-success { background-color: #25BF5E !important; color: $white; }
    } 

    .link { text-decoration: none; @include transition(0.3s, ease-in-out); display: inline-block; letter-spacing: 0.48px; color: $blue;         
        &.font-16 { font-size: 16px; }
        &:hover, &:focus { color: $orange; text-decoration: none; }
        &.link-danger { color: #FF4E4E !important; 
            &:hover, &:focus { color: #d62d2d !important; }
        }
        &.link-secondary { color: #8690A0 !important; 
            &:hover, &:focus { color: #c4c4c4 !important; }
        }
        @media (max-width: 575px) { font-size: 14px !important; }
    }

    .custom-dropdown { position: relative;
        &.mw-160 { max-width: 160px; min-width: 160px !important; }
        .dropdown-input { @include border-radius(4px); border: 1px solid #e2e5e9; background: $white; height: 40px; min-width: 200px; padding: 0 30px 0 12px; text-align: left; position: relative; font-size: 16px; color: #4E5C73; width: 100%;
            &.mw-160 { max-width: 160px; min-width: 160px !important; }
            &.w-100 { min-width: 100%; }
            span { @include inline-flex; @include align-items(center); height: 100%; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
            &::after { border-top: 5px solid transparent; border-right: 0; border-bottom: 5px solid transparent; border-left: 5px solid #8690A0; margin: 0; position: absolute; bottom: 14px; right: 12px; }
        }
        .dropdown-menu { background: #FFFFFF; @include box-shadow(0px 3px 12px rgba(0, 0, 0, 0.08)); @include border-radius(4px); min-width: 170px; border: 1px solid #e2e5e9; display: block!important; z-index: 4; visibility: hidden; @include opacity(0); transition : all 0.2s ease-in-out 0s,visibility 0s linear 0.3s,z-index 0s linear 0.01s; transform: translateY(2em); padding: 10px 0; width: 100%; top: -2px; margin: 0;
            &.mh-300 { max-height: 300px; overflow: hidden; overflow-y: auto; }
            &.mh-400 { max-height: 400px; overflow: hidden; overflow-y: auto; }
            &.mh-500 { max-height: 500px; overflow: hidden; overflow-y: auto; }
            &::-webkit-scrollbar { width:6px;background-color:#F5F5F5; }
            &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.3); }
            &::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);background-color:transparent; }
            &.show { visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; transform: translateY(0) !important; }
            .dropdown-item { font-size: 16px; padding: 8px 12px; @include transition(0.3s, ease-in-out); color: #0E132A; max-width: 100%; overflow: hidden; text-overflow: ellipsis;
                a { color: $gray; @include transition(0.3s, ease-in-out); text-decoration: none; max-width: 100%; overflow: hidden; text-overflow: ellipsis; }
                &:hover, &:focus, &:active, &.active { background: rgba(83, 81, 251, 0.05); }            
            } 
            &.add-bots-dropdown { @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.16)); top: 86px;
                .dropdown-item { @include flexbox(); @include align-items(center); @include justify-content(space-between); padding: 15px 12px;
                    span { @include inline-flex; @include align-items(center); letter-spacing: 0.54px; font-size: 18px; color: #4E5C73;
                        em { margin-right: 15px; margin-bottom: -2px; width: 30px; height: 20px; }
                        &.action {
                            em { margin-bottom: 0; width: 10px; height: 10px; }
                        }
                    }
                }
                &.show { opacity: 1; visibility: visible; }
                @media (max-width: 575px) { top: 66px; 
                    .dropdown-item { 
                        span { font-size: 16px; 
                            em { width: 25px; height: 18px; }
                        }
                    }
                }
            }       
        }    
        &.dropleft {  
            .dropdown-menu { transform: translateX(2em) !important;
                &.show { transform: translateX(0) !important; }
            }
        }
        @media (max-width:992px){
            .dropdown-input { font-size: 14px; }
            .dropdown-menu { 
                .dropdown-item { font-size: 14px; }
            }
        }
        @media (max-width:575px){
            .dropdown-menu { min-width: 150px; 
                .dropdown-item { padding: 4px 12px; font-size: 13px; }
            }
        }
    }

    .form-group { position: relative;      
        &.mw-160 { max-width: 160px; }  
        &.mw-300 { max-width: 300px; }  
        label { color: #0E132A; letter-spacing: 0.48px; font-size: 14px; font-weight: bold; line-height: 1; 
            &.font-16 { font-size: 16px; }
            &.font-18 { font-size: 18px; }
        }
        .input-dropdown .dropdown-input { min-width: 100% }
        .custom-input { @include border-radius(4px); border: 1px solid #E2E5E9; height: 40px; line-height: 40px; color: #0E132A; padding: 0 12px; font-size: 16px;
            &::placeholder { color: #D2D5D9; }
            &::-moz-placeholder { color: #D2D5D9; }
            &::-webkit-input-placeholder { color: #D2D5D9; }
            &.input-light { color: #8690A0;
                &::placeholder { color: #D2D5D9; }
                &::-moz-placeholder { color: #D2D5D9; }
                &::-webkit-input-placeholder { color: #D2D5D9; }
            }
        }
        textarea.custom-input { min-height: 120px; line-height: 1.5; 
            &::-webkit-scrollbar { width:6px;background-color:#F5F5F5; }
            &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.3); }
            &::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);background-color:transparent; }
        }
        &.post-icon-input { 
            .custom-input { padding: 0 40px 0 12px; }
            .post-icon { position: absolute; bottom: 11px; right: 12px; line-height: 0.7; 
                em { height: 18px !important; }
            }
        }
        &.pre-icon-input { 
            .custom-input { padding: 0 12px 0 40px; }
            .pre-icon { position: absolute; bottom: 7px; left: 12px; line-height: 0.7; }
        }
        &.with-label {
            &.pre-icon-input { 
                .pre-icon { bottom: 12px; }
            }
        }
    }

    .custom-checkbox { min-height: auto; line-height: 1; padding-left: 18px;
        .custom-control-input { height: 1rem; }
        .custom-control-label { cursor: pointer; color: #4E5C73; font-size: 15px; font-weight: 400; padding-left: 12px;
            &::before { background: transparent; border: 1px solid #AAB0C9; @include border-radius(4px); top: -1px; width: 18px; height: 18px; left: -18px; }
            &::after { width: 18px; height: 18px; top: -1px; left: -18px; background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>') !important; background-position: center center; background-size: 10px; background-repeat: no-repeat; }
        }
        .custom-control-input:focus ~ .custom-control-label::before { box-shadow: none; }
        .custom-control-input:checked ~ .custom-control-label::before { background: #3276FF; border-color: #3276FF; }
        .custom-control-input:disabled ~ .custom-control-label { cursor: default; }
        .custom-control-input:disabled ~ .custom-control-label::after { @include transform(scale(0)); }
        .custom-control-input:disabled ~ .custom-control-label::before { background: #F5F4F4; border-color: #DDE2E5; }
        .custom-control-input:checked:disabled ~ .custom-control-label::before { background: rgba(74, 75, 255, 0.5); border-color: transparent; }
        .custom-control-input:checked:disabled ~ .custom-control-label::after { @include transform(scale(1)); }
    }  

    .custom-radio { min-height: auto; line-height: 1; margin-bottom: 15px;
        .custom-control-input { height: 1rem; }
        .custom-control-label { cursor: pointer; color: #0E132A; font-size: 16px; font-weight: 400; letter-spacing: 0.48px;
            &::before { background: transparent; border: 2px solid #8690A0; top: -1px; width: 20px; height: 20px; }
            &::after { width: 12px; height: 12px; top: 3px; left: -20px; @include transform(scale(0)); background: #3276FF; @include border-radius(50%); }
        }
        .custom-control-input:focus ~ .custom-control-label::before { box-shadow: none; }
        .custom-control-input:checked ~ .custom-control-label::before { background: $white; border-color: #4E5C73; }
        .custom-control-input:checked ~ .custom-control-label::after { @include transform(scale(1)); background-image: none; }

        .custom-control-input:disabled ~ .custom-control-label { cursor: default; }
        .custom-control-input:disabled ~ .custom-control-label::after { @include transform(scale(0)); }        
        .custom-control-input:disabled ~ .custom-control-label::before { background: #F5F4F4; border-color: #DDE2E5; }

        .custom-control-input:checked:disabled ~ .custom-control-label::before { background: transparent; border-color: #DDE2E5; }
        .custom-control-input:checked:disabled ~ .custom-control-label::after { background: rgba(74, 75, 255, 0.5); @include transform(scale(1)); }
        @media (max-width: 575px) {
            .custom-control-label { font-size: 14px; 
                &::before { top: -4px; }
                &::after { top: 0px; }
            }
        }
    }  

    .jq-dropdown {
        &::before, &::after { content: none; }
    }
    .jq-dropdown-menu { border: 1px solid #F2F5F9; @include box-shadow(0px 3px 10px rgba(0, 0, 0, 0.1)); @include border-radius(8px); padding: 0; background: $white; padding: 8px 0;
        li { padding: 0px; @include transition(0.3s, ease-in-out); font-size: 15px; line-height: 1.5;
            &:hover { background: transparent; }
            &:last-child { border-bottom: none; }
            a { padding: 8px 20px; color: #4E5C73; @include flexbox(); @include align-items(center); font-size: 15px; font-weight: 500; @include transition(0.3s, ease-in-out); line-height: 1.5;
                em { width: 14px; height: 14px; margin-right: 10px; margin-left: 0; @include transition(0.3s, ease-in-out); }
                &:hover, &.active { background: rgba(83, 81, 251, 0.05); 
                    &.text-danger { color: #FF4E4E !important; }
                }
            }
        }
    }

    .modal { overflow-y: auto;
        .modal-dialog {
            &.mw-700 { max-width: 700px; }
        }
        .modal-content { @include border-radius(10px); background: #FFFFFF;
            .modal-header { padding: 20px 30px; @include flexbox(); @include justify-content(space-between); border-bottom: 1px solid #F2F5F9;
                .modal-title { color: #0E132A; font-weight: bold; font-size: 20px; @include flexbox(); @include align-items(center); 
                    em { margin-right: 10px; margin-bottom: -2px; }
                }      
                .modal-close { display: inline-block; margin-left: 25px; cursor: pointer; margin-top: 8px; line-height: 0.7;
                    em { @include transition(0.3s, ease-in-out); }
                    &:hover {
                        em { @include opacity(0.7); }
                    }
                }
            }
            .modal-body { padding: 20px 30px;
                .info { color: #8690A0; font-size: 13px; }
                .sm-title { color: #0E132A; font-size: 16px; font-weight: bold; }
                .add-value { letter-spacing: 0.45px; color: #0E132A; font-size: 15px; @include inline-flex; @include align-items(center); cursor: pointer; @include transition(0.3s, ease-in-out); line-height: 0.7;
                    em { margin-right: 8px; @include transition(0.3s, ease-in-out); }
                    &:hover { color: $blue;
                        em { 
                            &.icon-add-round { background: url(../../images/icons/new/icon-add-round-blue.svg) no-repeat center center; width: 18px; height: 18px; } 
                        }
                    }
                }
                .moderation-audio { width: 100%; }
                .modal-action { text-align: right; padding-top: 15px;
                    .btn { margin-left: 30px; } 
                }
                .remove-data { cursor: pointer;
                    em { width: 11px; height: 11px; @include transition(0.3s, ease-in-out); }
                    &:hover {  
                        em { @include opacity(0.7); }
                    }
                }
                .message {
                    .report-by { letter-spacing: 0.39px; color: #0E132A; font-size: 13px; padding-bottom: 5px; @include inline-flex; @include align-items(center);
                        em { color: #8690A0; font-style: italic; padding-right: 5px; display: inline-block; }
                        .badge { margin-left: 15px; }
                    }                    
                    .report-content-block { padding: 5px 0; flex: 1 1 auto;
                        p { letter-spacing: 0.48px; color: #4E5C73; font-size: 16px; margin: 0; }
                        .img-block { position: relative;
                            &.crop-img { height: 120px; overflow: hidden; }
                            .image-modal { cursor: pointer; }
                            img { width: 100%; }
                            .zoom-action { background: #0E132A; @include border-radius(4px); @include opacity(0.7); width: 30px; height: 30px; @include inline-flex; @include align-items(center); @include justify-content(center); cursor: pointer; position: absolute; top: 10px; right: 10px; @include transition(0.3s, ease-in-out);
                                &:hover { @include opacity(0.7); }
                            }
                            .gif-action { cursor: pointer; position: absolute; top: 10px; right: 10px; @include transition(0.3s, ease-in-out);
                                &:hover { @include opacity(0.7); }
                            }
                        }
                        .audio-block { border: 1px solid #E2E5E9; border-radius: 8px; background: #FFFFFF; padding: 12px 15px; @include inline-flex; @include align-items(center); cursor: pointer;
                            .icon-audio { margin-right: 10px; }
                            .file-name { max-width: 150px; word-break: break-all; letter-spacing: 0.39px; color: #8690A0; font-size: 13px; }
                            .play-action { line-height: 0.7; margin-left: 25px; }
                        }
                        .file-block { border: 1px solid #E2E5E9; border-radius: 8px; background: #FFFFFF; padding: 12px 15px; @include inline-flex; @include align-items(center); cursor: pointer;
                            .icon-file { margin-right: 10px; }
                            .file-name { max-width: 150px; word-break: break-all; letter-spacing: 0.39px; color: #8690A0; font-size: 13px; }
                        }
                        .contact-block { border: 1px solid #E2E5E9; border-radius: 8px; background: #FFFFFF; padding: 20px; @include inline-flex; @include align-items(center);
                            .icon-contact { margin-right: 5px; }
                            .contact-details { 
                                .name { letter-spacing: 0.42px; color: #4E5C73; font-size: 14px; font-weight: bold; }
                                .email { letter-spacing: 0.3px; color: #8690A0; font-size: 10px; padding-top: 3px; }
                            }
                            .detail-action { letter-spacing: 0.3px; color: #FF6332; font-size: 10px; @include transition(0.3s, ease-in-out); cursor: pointer; margin-left: 50px; display: inline-block;
                                &:hover, &:focus { color: $blue; }
                            }
                        }
                    }
                    .time-user-name { color: #0E132A; letter-spacing: 0.39px; font-size: 13px; @include inline-flex; @include align-items(center); padding-top: 10px;
                        em { color: #8690A0; font-style: italic; }
                        .divider { font-style: normal; padding: 0 6px; color: #E2E5E9; }
                    }            
                }
            }
            @media(max-width: 767px) {
                .modal-header, .modal-body { padding: 20px; }
            }
        }
    }

    .custom-tag-box-fields { position: relative;
        .tag-box { width: 100%; color: #0E132A; padding: 12px; border: 1px solid #E2E5E9; background: $white; @include flexbox; @include flex-wrap(wrap); align-content: flex-start; position: relative; max-height: 95px; @include transition(0.3s, ease-in-out); @include border-radius(4px); 
            .tag { padding: 10px 45px 10px 10px; font-size: 16px; line-height: 1; background: #F2F5F9; color: #0E132A; position: relative; margin-right: 12px; @include border-radius(8px); flex-shrink: 0; margin-bottom: 4px; position: relative; z-index: 1; 
                span.tag-remover { position: absolute; display: inline-block; right: 10px; top: 50%; cursor: pointer; line-height: 0.7; transform: translateY(-50%); @include transition(0.3s, ease-in-out);
                    &:hover { @include opacity(0.7); }
                }                
            }  
            .input-box { @include flexbox; flex-grow: 1; flex-shrink: 1; min-width: 32px; margin-bottom: 4px; position: relative; z-index: 1;             
                input { width: 100%; border: none; padding: 0; height: auto; min-width: auto; max-width: initial; color: #0E132A; font-size: 16px; background: transparent; @include transition(0.3s, ease-in-out);
                    &::placeholder { color: #8690A0; }
                }
            }
        }
    }

    
    
    .custom-alert { position: fixed; left: 105px; bottom: 20px; padding: 10px 15px; max-width: 500px; font-size: 16px; @include flexbox(); @include align-items(center); margin: 0; border: 0.7px solid transparent; @include border-radius(4px); visibility: hidden; @include opacity(0); pointer-events: none; @include transform(translateX(-150%)); @include transition(0.5s, ease-in-out);
        &.is-show { visibility: visible; @include opacity(1); pointer-events: all; @include transform(translateX(0)); }
        .icon { line-height: 0.7; margin-right: 10px; display: inline-block; margin-top: 2px; 
            .i-icon { min-width: 16px; width: 16px; height: 16px; }
        }
        .alert-desc { display: inline-block; line-height: 1.3; flex: 1 1 auto; }
        .alert-close { margin-left: 30px; cursor: pointer; @include transition(0.3s, ease-in-out); line-height: 0.7; margin-top: 4px; align-self: flex-start;
            &:hover { @include opacity(0.7); }
        }
        &.alert-danger { background: #FFEEEE; border-color: #FF604E; color: #FF1111; }
        &.alert-success { background: #EEFFF3; border-color: #33AE87; color: #33AE87; }
        &.alert-warning { background: #FFA2001A; border: #FFA200; color: #FFA200; }
        @media (max-width: 767px) { left: 15px; font-size: 14px; 
            .alert-close, .icon { margin-top: 3px; }
        }
        @media (max-width: 575px) { width: calc(100% - 30px); }
    }
}
/* common CSS - End */