*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.mw-500{max-width: 500px;}
.mw-600{max-width: 600px;}
.font-weight-600{font-weight: 600 !important;}
body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }
}
:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}
.hightlight-bg{
    background: url(../images/hightlight-bg.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0 10px;
}
a {
    color: $darkBlack;
    text-decoration: none;
    &:focus,
    &:hover {
        color: $darkBlack;
        text-decoration: none;
    }
}
:focus {
    outline: none !important;
}
.text-gray{
    color: #7A7F93 !important;
}
.text-light-gray{
    color: #ABAEBB !important;
}
.text-purple{
    color: #8C91F9 !important;
}
.text-lightpurple{
    color: $purple !important;
}
.text-red{
    color: #FF3838 !important;
}
p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: #2D055B;
    @media (max-width: 991px) {
        font-size: 16px;
    }
}
img {
    max-width: 100%;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

section {
    position: relative;
    padding: 75px 0;
    @media (max-width: 991px) {
        padding: 40px 0;
    }
    @media (max-width: 767px) {
        padding: 25px 0;
    }
}
// .slick-arrow{
//     @include opacity(1);
//     width: 34px;
//     height: 100%;
//     &.slick-prev{
//         left: 0 !important;
//         background: linear-gradient(90deg, $white 20%, #F0FFF000 100%);
//     }
//     &.slick-next{
//         right: 0 !important;    
//         background: linear-gradient(90deg, #F0FFF000 20%, $white 100%);
//     }
// }

.btn-gradient {
    min-height: 48px;
    padding: 0 25px;
    cursor: pointer;
    outline: none!important;
    @include border-radius(15px);
    @include inline-flex;@include align-items(center);@include justify-content(center);
    font-family: "Poppins",sans-serif;
    min-width: 140px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    text-align: center;
    color: $white !important;
    border: none;
    background: transparent linear-gradient(90deg, #8C91F9 0%, $purple 100%) 0% 0% no-repeat padding-box;
    &:hover,&:focus{
        background: transparent linear-gradient(90deg, #787ee2 0%, $purple 100%) 0% 0% no-repeat padding-box;
    }
    @media(max-width:991px){
        min-height: 44px;
        padding: 0 15px;
        min-width: 130px;
    }
}
.btn-outline-primary {
    min-height: 48px;
    padding: 0 25px;
    cursor: pointer;
    outline: none!important;
    @include border-radius(15px);
    @include inline-flex;@include align-items(center);@include justify-content(center);
    font-family: "Poppins",sans-serif;
    min-width: 140px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    text-align: center;
    color: $purple;
    border-color: $purple;
    background: transparent;
    &:hover,&:focus{
        background: transparent linear-gradient(90deg, #8C91F9 0%, $purple 100%) 0% 0% no-repeat padding-box;
        border-color: #868bf4;
    }
    @media(max-width:991px){
        min-height: 44px;
        padding: 0 15px;
        min-width: 130px;
    }
}
.action-btn{
    .btn{
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    @media(max-width:991px){
        .btn{
            margin-right: 8px;
        }
    }
}
.bg-light{
    background-color: #F9F8FA;
}
.main-title {
    margin-bottom: 40px;
    .page-title,
    h2 {
        font-weight: 700;
        font-size:40px;
        margin-bottom: 20px;
        color: $darkBlack;
    }
    p {
        font-size: 16px;
        color: $darkBlack;
        &:last-child{
            margin-bottom: 0;
        }
    }
    @media (max-width: 1399px) {
        .page-title,
        h2 {
            font-size: 32px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
        .page-title,
        h2 {
            font-size: 26px;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
        }
    }
}
.icons{
    width: 16px;
    height: 16px;
    margin: auto 0;
    @include inline-flex();
    position: relative;
    @include transition(0.4s, ease-in-out);
}
.icon-box{
    background: url(../images/3D.svg) no-repeat center;
    background-size: contain;margin-right: 10px;
}
.icon-pricing{
    background: url(../images/pricing.svg) no-repeat center;
    background-size: contain;margin-right: 10px;
}
.icon-email{
    background: url(../images/email.svg) no-repeat center;
    background-size: contain;margin-right: 10px;
}
.icon-twitter{
    background: url(../images/twitter.svg) no-repeat center;
    background-size: contain;
}
.icon-facebook{
    background: url(../images/facebook.svg) no-repeat center;
    background-size: contain;
}
.icon-linkedin{
    background: url(../images/linkedin.svg) no-repeat center;
    background-size: contain;
}
.main-header {
    position: sticky;
    background-color: $white;
    top: 0;
    z-index: 10;
    &.fixed-header {
        @include box-shadow(0px 6px 20px rgba(0, 0, 0, 0.08));
    }
    .navbar {
        padding: 20px 0;
        min-height: 74px;
        >.container{
            display: block;
        }
    }
    .navbar-nav {
        @include justify-content(flex-end);
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
        @include transition(0.4s, ease-in-out);
        img {
            @include transition(0.4s, ease-in-out);
        }
    }
    .menu-list {
        margin-left: auto;
        ul{
            @include align-items(center);
        }
        li {
            padding: 0 15px;
            position: relative;
            &:last-child{
                padding-right: 0;
            }
            a {
                color: #454A60;
                position: relative;
                z-index: 1;
                font-size: 16px;
                font-weight: 600;
                @include flexbox();
                @include align-items(center);
                @include transition(0.3s, ease-in-out);
                &.active,
                &:hover{
                    color: $purple;
                    .icons{
                        @include transform(translateY(-5px));
                        &:after{
                            @include opacity(1);
                        }
                    }
                }
                &.active{
                    color: $purple;
                    .icons{
                        &:after{
                            @include opacity(1);
                            background: transparent linear-gradient(90deg, #8C91F9 0%, $purple 100%) 0% 0% no-repeat padding-box;
                        }
                    }
                }
            }
            .icons{
                @include transition(0.3s, ease-in-out);
                &:after{
                    content: "";
                    position: absolute;
                    @include border-radius(20px);
                    background: transparent linear-gradient(90deg, #8C91F9 0%, $purple 100%) 0% 0% no-repeat padding-box;;
                    height: 3px;
                    width: 16px;
                    bottom: -8px;
                    left: 0;
                    @include opacity(0);
                    @include transition(0.3s, ease-in-out);
                }
            }
            .btn-gradient{
                min-width: 140px;
            }
        }
    }
    .header-first-block {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
    }
    @media (max-width: 991px) {
        &.is-visible {
            background-color: $white;
            .menu-list {
                @include transform(translateX(0px));
            }
        }
        .navbar {
            min-height: 66px;
            padding: 10px 0;
            >.container{
                max-width: 100%;
            }
            &:after {
                display: none;
            }
        }
        .navbar-brand{
            img{
                max-width: 100px;
            }
        }
        .sidebar-icon {
            display: inline-block;
            cursor: pointer;
            &.is-visible {
                .line1 {
                    @include transform(rotate(-45deg) translate(-4px, 7px));
                }
                .line2 {
                    @include opacity(0);
                    visibility: hidden;
                }
                .line3 {
                    @include transform(rotate(45deg) translate(-4px, -7px));
                }
            }
            span {
                width: 24px;
                height: 2px;
                margin: 6px 0;
                background-color: $black;
                @include border-radius(4px);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }
        .menu-list {
            ul{
                display: block;
            }
                min-height: calc(100vh - 66px);
                overflow-y: auto;
                width: 300px;
                display: block;
                padding: 15px;
                background-color: $white;
                @include transition(0.4s, ease-in-out);
                @include transform(translateX(-100%));
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 99;
                border-top: 1px solid #eeeeee;
                margin-top: 66px;
            li {
                margin: 0;
                padding: 10px 0;
                a{
                    &.active,
                    &:hover{
                        .icons{@include transform(translateY(0px));}
                    }
                }
                .icons{
                    &:after{display: none;}
                }
            }
        }
    }
}
.bg-overly {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -110%;
    width: 100%;
    @include transition(0.4s, ease-in-out);
    background: rgba(0, 0, 0, 0.5);

    z-index: 9;
    -webkit-transition: all .6s cubic-bezier(.6,.1,.68,.53) .4s;
    transition: all .6s cubic-bezier(.6,.1,.68,.53) .4s;
    &.is-visible {
        left: 0;
        -webkit-transition: all .6s cubic-bezier(.22,.61,.24,1) 0s;
        transition: all .6s cubic-bezier(.22,.61,.24,1) 0s;
    }
}
.main-content-wrapper{
    flex: 1 1 auto;
    padding-top: 20px;
    @media(max-width:991px){
        padding-top: 10px;
    }
}
// section-block
.section-block{
    .image-block{
        position: relative;
        a{
            position: relative;
        }
    }
    .radius-image{
        @include border-radius(30px);
        overflow: hidden;
    }
    .border-1{
        border-bottom: 1px solid $lightwhite;
    }
}
.video-block1{
    @include border-radius(10px);
    overflow: hidden;
}
// video-block
.video-block1,
.video-block{
    &:hover{
        .play-icon{
            @include transform(translate(-50%, -50%) scale(1.2));
        }
    }
    .play-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 50px;
        @include transform(translate(-50%, -50%));
        @include transition(0.3s, ease-in-out);
        cursor: pointer;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
}
// .main-footer
.main-footer {
    background: #2D2D38;
    color: #7A7F93;
    padding: 80px 0 50px;
    .menu-item-block{
        margin-bottom: 30px;
        ul{
            li{
                padding: 7px 0;
                a{
                    color: #7A7F93;font-size: 16px;font-weight: 500;
                    word-break: break-all;@include transition(0.4s, ease-in-out);
                    position: relative;
                    z-index: 1;
                    &:hover{
                        color: $white !important;
                        &:after{
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: -2px;
                        background: $white;
                        width: 0;
                        height: 1px;
                        @include opacity(0.7);
                        @include transition(0.4s, ease-in-out);
                    }
                }
            }
        }
    }
    .social-item-block{
        @include inline-flex();
        @include align-items(center);
        .heading{
            font-weight: 500;
            margin-right: 8px;
        }
        .social-menu{
            @include inline-flex();
            @include align-items(center);
            li{
                padding: 0 8px;
                a{
                    width: 40px;
                    height: 40px;
                    @include border-radius(40px);
                    border:1px solid #7A7F93;
                    @include inline-flex();
                    @include align-items(center);
                    @include justify-content(center);@include transition(0.4s, ease-in-out);
                    &:hover{
                        border: 1px solid #8C91F9;
                    }
                    &.facebook-icon{
                        &:hover{
                            .icon-facebook{
                                background: url(../images/facebook-hover.svg) no-repeat center;
                                background-size: contain;
                            }
                        }  
                    }
                    &.twitter-icon{
                        &:hover{
                            .icon-twitter{
                                background: url(../images/twitter-hover.svg) no-repeat center;
                                background-size: contain;
                            }
                        }  
                    }
                    &.linkedin-icon{
                        &:hover{
                            .icon-linkedin{
                                background: url(../images/linkedin-hover.svg) no-repeat center;
                                background-size: contain;
                            }
                        }  
                    }
                }
                
            }
        }
        @media(max-width:1199px){
            display: block;
            .heading{
                margin: 0 0 15px 0;
            }
            .social-menu{
                margin-left: -8px;
            }
        }
    }
    .copyright-block{
        font-size: 14px;
        text-align: center;font-weight: 500;
    }
    @media(max-width:991px){
        padding: 40px 0;
        margin-top: 25px;
    }
    @media(max-width:767px){
        .menu-item-block {
            margin-bottom: 20px;
        }
        .copyright-block{
            padding-top: 30px;
        }
    }
}
// animation-image
.living-image{
    position: relative;
    img{
        width: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        right: -9%;
        bottom: -15%;
        width: 120%;
        height: 201px;
        background: url(../images/shape1.png) no-repeat center;
        z-index: -1;
        background-size: 100% 100%;
    }
    @media(max-width:767px){
        &:after{display: none;}
    }
}
.right-image{
    position: relative;
    img{
        width: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        right: -10%;
        bottom: -20%;
        width: 350px;
        height: 244px;border-radius: 0px 0px 0px 40px;
        background-color: #F2F5F9;
        z-index: -1;
    }
    @media(max-width:767px){
        &:after{display: none;}
    }
}
.left-image{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        left: -10%;
        top: -20%;
        width: 350px;
        height: 244px;border-radius: 0px 10px 0px 0px;
        background-color: #F2F5F9;
        z-index: -1;
    }
    @media(max-width:767px){
        &:after{display: none;}
    }
}
// working-block
.working-block{
    overflow: hidden;
    @media(min-width:992px){
        padding-top: 150px;
        &:after{
            content: "";
            width: 50%;
            position: absolute;
            height: 1px;
            background-color: $lightwhite;
            right: 0;
            top: 58%;
            z-index: -1;
        }
        .main-title{
            padding-left: 10px;
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:before{
                content: "";
                width: 1px;
                position: absolute;
                height: 150%;
                background-color: $lightwhite;
                left: -28.2%;
                bottom: -78%;
                z-index: -1;
                transform: rotate(45deg);
            }
        }
        .container{
            position: relative;
            &:before{
                content: "";
                width: 1px;
                position: absolute;
                height: 125%;
                background-color: $lightwhite;
                left: 13px;
                top: -75%;
                z-index: -1;
            }
            &:after{
                content: "";
                width: 100%;
                position: absolute;
                height: 1px;
                background-color: $lightwhite;
                left: 13px;
                top: 50%;
                z-index: -1;
            }
        }
    }
    @media(min-width:1200px){
        &:after{
            top:57.1%;
        }
    }
    @media(min-width:1400px){
        &:after{
            top:56.6%;
        }
    }
}
// living-room-block
.living-room-block{
    &:hover{
        .living-box{
            @include transform(translate(-50%, -50%) scale(1.1));
        }
    }
    .living-box{
        color: $white;
        font-size: 24px;
        font-weight: 500;
        border-radius: 76px;
        background-color: rgba(45,45,56,0.8);
        padding: 15px 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 210px;
        height: 66px;
        margin: auto;
        @include transform(translate(-50%, -50%));
        @include transition(0.3s, ease-in-out);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        img{
            width: auto;
            margin-right: 10px;
        }
    }
    @media(max-width:991px){
        .living-box{
            padding: 10px 20px;
            font-size: 14px;
            width: 165px;
            height: 50px;
        }
    }
}
// services-content-block
.services-content-block{
    .g-5 {
        --bs-gutter-y: 100px;
        --bs-gutter-x: 100px;
    }
    .card{
        border: 1px solid $lightwhite;
        @include border-radius(40px);
        padding: 30px;
        @include transition(0.4s, ease-in-out);
        min-height: 166px;
        &:hover{
            border-color: $purple;
            .card-img-top{
                @include transform(translateY(0));
                &.arrow-image{
                    &:after{
                        width: 72px;
                    }
                }
                &.headphone-image{
                    &:after{
                        width: 114px;
                    }
                }
                &.secure-image{
                    &:after{
                        width: 95px;
                    }
                }
            }
            h3{
                @include transform(translateY(0));
            }
            p{
                @include opacity(1);
                visibility: visible;
            }
        }
        .services-box{
            height: 100%;
            @include flexbox();
            @include align-items(baseline);
            @include justify-content(space-between);
            flex-direction: column;
            @include transition(0.4s, ease-in-out);
        }
        .card-img-top{
            width: auto;
            position: relative;
            @include transform(translateY(20px));
            @include transition(0.4s, ease-in-out);
            &.arrow-image{
                &:after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 24px;
                    left: 17px;
                    background: url(../images/arrow-hover.png) no-repeat center;
                    background-size: contain;
                    @include transition(0.4s, ease-in-out);
                }
            }
            &.headphone-image{
                &:after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 24px;
                    left: 27px;
                    background: url(../images/headphone-hover.png) no-repeat center;
                    background-size: contain;
                    @include transition(0.4s, ease-in-out);
                }
            }
            &.secure-image{
                &:after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 24px;
                    left: 25px;
                    background: url(../images/secure-hover.png) no-repeat center;
                    background-size: contain;
                    @include transition(0.4s, ease-in-out);
                }
            }
        }
        .card-body{
            padding: 10px 0 0;
            flex: 0 0 0;
        }
        h3{
            color: $darkBlack;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;@include transform(translateY(45px));
            @include transition(0.4s, ease-in-out);
        }
        p{
            font-size: 13px;color: $darkBlack;margin: 7px 0 0;
            max-width: 250px;
            @include opacity(0);
            visibility: hidden;
            @include transition(0.4s, ease-in-out);
        }
    }
    @media(max-width:1199px){
        .card{
            padding: 20px 20px 15px;
            min-height: 150px;
            @include border-radius(20px);
            h5{font-size: 18px;}
        }
    }
    @media(max-width:991px){
        .g-5 {
            --bs-gutter-y: 24px;
            --bs-gutter-x: 24px;
        }
        .card{
            padding: 15px;
            @include border-radius(15px);
            @include transform(translateY(0));
            .services-box{
                height: auto;
            }
            .card-img-top{
                @include transform(translateY(0));
            }
            h3{
                font-size: 16px;
                @include transform(translateY(0));
            }
            p{
                @include opacity(1);
                visibility: visible;
            }
        }
    }
    @media(max-width:767px){
        .card {
            min-height: auto;
            padding: 20px;
        }
    }
}
.slick-dotted{
    &.slick-slider{
        margin-bottom: 0;
        overflow: hidden;
    }
    .slick-dots{
        margin-top: 20px;
        bottom: 0;
        position: relative;
        @include flexbox;
        @include justify-content(center);
        li{
            width: auto;
            height: auto;
            margin: 0 3px;
            &:hover,
            &.slick-active{
                button{
                    background-color: $purple;
                }
            }
            button{
                width: 25px;
                height: 8px;
                @include border-radius(10px);
                @include transition(0.3s, ease-in-out);
                background-color: $lightwhite;
                &::before{
                    display: none;
                }
            }
        }
    }
    .slick-list{
        margin: 0 -5px;
        @include border-radius(30px);
    }
}
// plan-slider
.plan-slider{
    .slider-items{
        .slider-content{
            @include flexbox;
            @include align-items(center);
            background-color: #F2F5F9;
            padding: 35px 30px;
            .slider-img{
                width: 50%;
                min-height: 280px;
                @include flexbox;
                img{
                    margin: auto;
                }
            }
            .slider-dec{
                padding-left: 20px;
            }
            h3{
                font-size: 24px;
                font-weight: 600;
                color: $purple;
                margin-bottom: 10px;
            }
            p{font-size: 18px;color: #2D2D38;font-weight: 600;margin-bottom: 0;}
        }
    }
    @media(max-width:991px){
        .slider-items {
            .slider-content{
                padding: 25px 20px;
                h3{
                    font-size: 20px;margin-bottom: 5px;
                }
                p{font-size: 16px;}
            }
        }
    }
    @media(max-width:575px){
        .slider-items {
            .slider-content{
                padding: 25px 20px;
                display: block;
                text-align: center;
                img{
                    width: 100%;
                }
                .slider-dec{
                    padding: 10px 0 0 0;
                }
            }
        }
    }
}
// pricing-block
.pricing-block{
    .button-dec{
        color: #454A60;
        font-size: 14px;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 0;
    }
    .card{
        background-color: #F7F9FA;
        @include border-radius(20px);
        padding: 30px;
        overflow: hidden;
        border: 2px solid transparent;@include transition(0.3s, ease-in-out);
        position: relative;
        &:before{
            content: "";
            position: absolute;
            border-top: 50px solid $purple;
            border-right: 50px solid transparent;
            left: -100px;
            top: -2px;
            @include transition(0.3s, ease-in-out);
        }
        &:hover{
            border-color: $purple;
            &:before{
                left: -2px;
            }
        }
        &.storage-card{
            border: 2px solid #F2F5F9;
            background-color: $white;
            &:before{
                display: none;
            }
        }
        .title{
            h2{
                font-size: 24px;
                font-weight: 600;
                color: #313140;
                margin-bottom: 5px;
            }
            p{
                font-size: 12px;
                color: #313140;
                font-weight: 400;
                span{
                    color: $purple;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }
            span{
                font-size: 13px;
                font-weight: 600;
                color: #313140;
                a{
                    color: $purple;
                }
            }
        }
        .center-content{
            flex: 1 1 auto;
            margin:20px 0 30px 0;
            p{
                color: #313140;
                font-size: 15px;
                font-weight: 600;
                margin: 0;
            }
        }
        .center-text{
            @include flexbox;
            @include justify-content(center);
            @include flex-direction(column);
            text-align: center;
        }
        .check-list{
            li{
                margin-bottom: 15px;
                color: #313140;font-size: 15px;font-weight: 600;
                position: relative;
                padding-left: 35px;
                &:last-child{margin-bottom: 0;}
                &:before{
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url(../images/check.svg) no-repeat center;
                    background-size: contain;
                    left: 0;
                    top: 0;
                }
                .label-box{
                    background-color: $purple;
                    color: #F2F5F9;
                    padding: 0 12px;
                    @include border-radius(5px);
                    margin-left: 10px;
                }
                &.no-ckeck{
                    &:before{
                        background: transparent;
                    }
                }
            }
        }
    }
    @media(max-width:767px){
        .card{
            padding: 20px;
            .title{
                h2{font-size: 20px;}
                p{font-size: 16px;}
            }
        }
    }
}
// contact-form-block
.contact-form-block{
    #contactUs{
        max-width: 610px;
    }
    #login{
        max-width: 380px;
    }
    form{
        margin: auto;
        background-color: #FAFBFE;
        border: 1px solid #F2F5F9;
        @include border-radius(10px);
        padding: 30px;
        button{
            margin-top: 5px;
        }
        a{
            position: relative;
            z-index: 1;
            &:hover{
                &:after{
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
            &:after{
                content: "";
                position: absolute;
                z-index: -1;
                right: 0;
                bottom: 0px;
                background: $purple;
                width: 0;
                height: 1px;
                @include transition(0.4s, ease-in-out);
            }
        }
        .custom-input{
            margin-bottom: 20px;
            &.error-input{
                label{
                    color: #f03d3e!important;
                }
                .error-msg{
                    color: #f03d3e;
                    font-size: 13px;
                    text-align: left;
                    display: block;
                    padding-top: 3px;
                } 
                @media(max-width:991px){
                    .error-msg{font-size: 11px;}
                }
            }
            .error-msg{
                display: none;
            }
            label{
                font-size: 16px;
                font-weight: 700;
                color: #313140;
                margin-bottom: 5px;
            }
            .form-control{
                border: 1px solid $lightwhite;
                @include border-radius(10px);
                font-size: 16px;
                padding: 10px 20px;
                min-height: 48px;
                &::placeholder{
                    color: $lightwhite;
                }
            }
        }
        .form-check{
            margin-bottom: 15px;
            padding-left: 25px;
            cursor: pointer;
            .form-check-input{
                width: 20px;
                margin-top: 2px;
                @include border-radius(4px);
                overflow: hidden;
                height: 20px;border: 1px solid $lightwhite;
                cursor: pointer;
                margin-left: -25px;
                position: relative;
                &:checked{
                    background: transparent linear-gradient(90deg, #8C91F9 0%, $purple 100%) 0% 0% no-repeat padding-box;
                    border: 1px solid transparent;
                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: url(../images/check-white.svg) no-repeat center;
                        right: 0;
                        bottom: 0;
                        display: block;
                        position: absolute;
                    }
                }
            }
            .form-check-label{
                color: #525252;
                cursor: pointer;
                font-size: 14px;
                a{
                    color: $purple;
                }
            }
        }
    }
    @media(max-width:767px){
        form{
            padding: 20px;
            .form-check{
                .form-check-label{
                    font-size: 12px;
                }
            }
            .custom-input{
                margin-bottom: 15px;
                label{
                    font-size: 14px;
                }
                .form-control{
                    font-size: 14px;
                    padding: 5px 15px;
                    min-height: 44px;
                }
            }
        }
    }
}
// bottom-link
.bottom-link{
    color: $darkBlack;
    font-size: 14px;
    margin: 30px 0 0;
    a{
        color: $purple;
        position: relative;
        &:hover{
            &:after{
                width: 100%;
                right: auto;
                left: 0;
            }
        }
        &:after{
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: -2px;
            background: $purple;
            width: 0;
            height: 1px;
            @include transition(0.4s, ease-in-out);
        }
    }
}