.main-footer {
    font-size: 11px;
    color: #4e4e4e;
    background: $white;
    padding: 10px 0px;
    .email-content {
        @include flexbox();
        a {
            text-decoration: none;
            @include inline-flex;
            @include align-items(center);
            i {
                margin-right: 8px;
            }
        }
    }

    .footer-inner-content {
        .footer-links-dec {
            font-size: 10px;
            p {
                font-size: 10px;
                margin: 0;
                display: inline-block;
            }
            a {
                font-weight: 700;
            }
        }
        .copyright-text {
            text-align: right;
        }
    }
    @media (max-width: 992px) {
        .footer-inner-content {
            .copyright-text {
                text-align: left;
                padding-top: 5px;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 10px 0px 70px;
    }
}
