.main-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $white;
    @include transition(0.4s, ease-in-out);
    filter: drop-shadow(0px 4px 6px rgba(184, 184, 184, 0.25));
    &.is_sticky{
        background-color: $green;
        .header-inner-block {
            .logo{
                img{
                    filter:brightness(20);
                }
            }
            .header-right {
                .menu-list {
                    @media(min-width:768px){
                        li{
                            &:hover,
                            &.active{
                                a{
                                    color: $black;
                                    &:before{
                                        background-color: $black;
                                    }
                                }
                            }
                            a{
                                color: $white;
                            }
                        }
                    }
                }
                .site-btn{
                    background-color: $white;
                    color: $green;
                    &:hover{
                        background-color: $black;
                        color: $white;
                    }
                }
            }
        }
    }
    .header-inner-block {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        min-height: 70px;
        .logo {
            @include inline-flex;
            a {
                @include align-items(center);
                @include inline-flex;
            }
            img{
                @include transition(0.2s, ease-in-out);

            }
            
        }
        .header-right {
            .menu-wrapper{
                @include flexbox();
                @include align-items(center);

            }
            .menu-list {
                @include flexbox();
                @include align-items(center);
                li {
                    padding: 0 25px;
                    a {
                        font-weight: 500;
                        font-size: 18px;
                        letter-spacing: 0.16px;
                        position: relative;
                        color: $black;
                        display: inline-block;
                        padding: 24px 0;
                        @include transition(0.2s, ease-in-out);
                        &:before{
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            left: 50%;
                            right: 0;
                            bottom: 0;
                            @include transition(0.2s, ease-in-out);
                            background-color: $green;
                        }
                    }
                    @media(min-width:768px){
                        &:hover,
                        &.active{
                            a{
                                color: $green;
                                &:before{
                                    width: 100%;
                                    left: 0;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .contact-btn{
                margin-left: 50px;
            }
        }
    }
    .menu-icon {
        span {
            width: 34px;
            display: block;
            height: 3px;
            margin: 7px 0px;
            cursor: pointer;
            @include transition(0.2s, ease-in-out);
            background-color: $black;
        }
        &.open {
            span {
                background-color: $white;
                &.line1 {
                    @include transform(rotate(-45deg) translate(-7px, 7px));
                }
                &.line2 {
                    @include opacity(0);
                }
                &.line3 {
                    @include transform(rotate(45deg) translate(-7px, -7px));
                }
            }
        }
    }
    @media (max-width: 991px) {
        .header-inner-block {
            .header-right{
                .menu-list{
                    li{
                            padding: 0 15px;
                    }
                }
                .contact-btn{
                    margin-left: 20px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        &.is_sticky{
            .menu-icon{
                span{
                    background-color: $white;
                }
            }
        }
        &.open{
            background-color: $green;
        }
        .header-inner-block {
            padding: 10px 0;
            min-height: 60px;
            &.open{
                .logo{
                    img{
                        filter: brightness(20);
                    }
                }
            }
            .header-right {
                &.open {
                    .menu-wrapper {
                        @include transition(0.2s, ease-in-out);
                        @include transform(translateX(0));
                    }
                }
                .menu-wrapper {
                    min-height: calc(100vh - 60px);
                    overflow-y: auto;
                    width: 250px;
                    max-width: 100%;
                    display: block;
                    background-color: $green;
                    @include transform(translateX(100%));
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 99;
                    margin-top: 60px;
                    padding: 5px 0;
                }
                .menu-list {
                    margin: 0;
                    display: block;
                    li {
                        padding: 0;
                        @include transition(0.2s, ease-in-out);
                        &:hover{
                            a{
                                font-size: 16px;
                                background-color: $white;
                                color: $green !important;
                                &:before {
                                    display: none;
                                } 
                            }
                        }
                        a {
                            padding: 12px 15px;
                            display: block;
                            color: $white;
                           
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
    }
    @media (max-width: 575px) {
    }
}
