*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
strong{
    font-weight: 700;
}
.mw-800 {
    max-width: 800px !important;
}
.z-1{
    position: relative;
    z-index: 1;
}
                    
.house-section{
    *{
        color: #d8d8d8;
    }
    .shape-image{
        background-size: 100% 28%;
        @media (max-width:991px) {
            background-size: contain;
        }
    }
    @media (min-width:992px) {
        section{
            padding: 60px 0;
        }
        .work-section{
            padding-top: 270px;
        }
    }
}
body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    background-image: url(../images/bg-striped.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    font-variation-settings: "wdth" 125;
    @include flexbox();
    @include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }
}
:focus {
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}
.hightlight-bg{
    background: url(../images/hightlight-bg.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0 10px;
}
a {
    color: $white;
    text-decoration: none;
    &:focus,
    &:hover {
        color: #f57a29;
        text-decoration: none;
    }
}
:focus {
    outline: none !important;
}
p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    &:last-child{
        margin-bottom: 0;
    }
    @media (max-width: 991px) {
        font-size: 14px;
    }
}
img{
    max-width:100%;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}


.navbar-toggler:focus {
    box-shadow: none !important;
}
.mw-900{
    max-width: 900px;
    @media (max-width:991px) {
        max-width: 500px;
    }
}
section {
    position: relative;
    padding: 80px 0;
    z-index: 1;
    @media (max-width: 991px) {
        padding: 40px 0;
    }
}
.slick-arrow {
    width: 70px;
    height: 70px;
    z-index: 1;
    &::before {
        display: none;
    }
    &.slick-prev {
        left: 0;
        background: url("../images/angle-left.svg") no-repeat center;
        background-size: contain;
        background-color: $white;
    }
    &.slick-next {
        right: 0;
        background: url("../images/angle-right.svg") no-repeat center;
        background-size: contain;
        background-color: $white;
    }
    
    @media (min-width: 1599px) {
        &.slick-prev {
            left: -90px;
        }
        &.slick-next {
            right: -90px;
        }
    }
    @media (max-width: 1200px) {
        &.slick-prev {
            width: 40px;
            height: 40px;
            padding: 5px;
        }
        &.slick-next {
            width: 40px;
            height: 40px;
            padding: 5px;
        }
    }
    @media (max-width: 991px) {
        width: 30px;
        height: 30px;
        &.slick-prev {
            background-size: 25px;
        }
        &.slick-next {
            background-size: 25px;
        }
    }
}

.btn-border {min-height: 50px; padding: 8px 25px; font-size: 16px; white-space: nowrap; color: $purple !important; border: 1px solid $purple; text-decoration: none !important; @include inline-flex;@include align-items(center);@include justify-content(center); @include transition(0.2s, ease-in-out); line-height: 1; cursor: pointer;@include border-radius(100px);background-color:$white;

    &.focus, &:focus { outline: none !important; }
    &:hover, &:focus, &:active {
        background-color: $purple !important; border-color: $purple !important; color: $white !important;
    }
    &:after{display: none;}
    @media(max-width:991px){
        min-height: 44px;
    }
}

.btn {
    padding: 8px 25px; font-size: 16px; line-height: 1; cursor: pointer; 
    @include border-radius(100px);
    @include inline-flex;@include align-items(center);@include justify-content(center);
    &:after{
        display: none;
    }
    &.btn-md {
        padding: 12px 15px; font-size: 14px;
    }

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}
.btn-primary {
    color: $white !important;
    background-color:$purple;
    border-color:$purple;
    min-height: 50px;
    &:hover, &:focus, &:active,
    &:not(:disabled):not(.disabled).active, 
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active:focus, 
    &:not(:disabled):not(.disabled):active:focus {
        background-color: transparent !important;
        color: $purple !important;
        border-color:$purple !important;
        box-shadow: none !important;
    }
    &.disabled,
    &:disabled {
        background-color: #ADBDBA;
        border-color: #ADBDBA;
        &:hover, &:focus, &:active {
            background: #ADBDBA !important;
            border-color: #ADBDBA !important;
        }
    }
    @media(max-width:991px){
        min-height: 44px;
    }
}
.bg-light{
    background-color: #F9F8FA;
}
.main-title {
    margin-bottom: 40px;
    h1,
    h2 {
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: $font-Saira;
        span{
            background: rgb(234,156,104);
            background: -moz-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
            background: linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea9c68",endColorstr="#e95443",GradientType=1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p {
        margin: 20px 0 0;color:#f4f4f4;
    }
    @media (max-width: 1199px) {
        h1,
        h2 {
            font-size: 22px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
        // h1,
        // h2 {
        //     font-size: 30px;
        // }
        p {
            margin-top: 10px;
        }
    }
}
.fw-xxl{
    @media (min-width:992px) {
        font-size: 64px !important;
        line-height: 1.2;
    }
    @media (min-width:1200px) {
        font-size: 80px !important;
    }
}

.main-header {
    position: fixed;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    &.fixed-header {
        @include box-shadow(0px 6px 20px rgba(0, 0, 0, 0.08));
        background-color: rgba(0, 0, 0, 0.6);
    }
    .container{
        max-width: 1520px;
    }
    .navbar {
        padding: 25px 0;
        min-height: 74px;
        >.container{
            display: block;
        }
    }
    .navbar-nav {
        @include justify-content(flex-end);
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
        @include transition(0.4s, ease-in-out);
        img {
            @include transition(0.4s, ease-in-out);
        }
    }
    .menu-list {
        margin-left: auto;
        ul{
            @include align-items(center);
        }
        li {
            margin: 0 40px;
            padding: 10px 0;
            position: relative;
            &.has-sub-menu{
                .dropdown-menu-list{
                    li{
                        a{
                            font-weight: 300;
                            white-space: nowrap;
                        }
                    }
                }
            }
            &:last-child{
                margin-right: 0;
            }
            a {
                color: $white;
                position: relative;
                z-index: 1;
                font-size: 14px;
                font-weight: 500;
                @include flexbox();
                @include align-items(center);
                @include transition(0.3s, ease-in-out);
                text-shadow: 1px 1px 1px rgba(0,0,0,.5);
            }
        }
    }
    .header-first-block {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .logo-signup-btn{
            .sign-up-link{
                font-size: 14px;
                color: #F4F4F4;
                margin-left: 80px;
                &:hover{
                    color: #f57a29;
                }
            }
        }
    }
    
    @media (min-width: 992px) {
        .menu-list {
            li {
                &.has-sub-menu{
                    >a{
                        position: relative;
                        padding-right: 24px;
                        &:before{
                            content: "";
                            position: absolute;right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            display: inline-block;
                            height: 16px;
                            width: 16px;
                            background: url(../images/arrow-down.svg) center no-repeat;
                            background-size: contain;
                            background-position: center;
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                    &:hover{
                        >a{
                            font-weight: 800;
                            &:before{
                                @include transform(rotate(-180deg));
                            }
                        }
                        .dropdown-menu-list {
                            @include opacity(1);
                            visibility: visible;
                            @include transform(translateY(0));
                            @include transition(0.3s, ease-in-out);
                        }
                    }
                    .dropdown-menu-list{
                        position: absolute;
                        min-width: 170px;
                        top: 100%;
                        right: 0;
                        @include opacity(0);
                        display: block !important;
                        background: #040404;
                        visibility: hidden;
                        border: 1px solid #f57a29;
                        @include transform(translateY(20px));
                        margin: 0px; list-style: none; 
                        padding: 10px 0;
                        li{
                            padding: 10px 18px;
                            margin: 0;
                            a{
                                font-size: 16px;
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                a {
                    &:hover {
                        color: #f57a29;
                        &:after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: 0;
                        background: #f57a29;
                        width: 0;
                        height: 2px;
                        @include transition(0.3s, ease-in-out);
                    }
                }
            }
        }
    }
    @media (max-width: 1499px) {
        .menu-list {
            li {
                margin: 0 10px;
                a {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        &.is-visible {
            background-color: #040404;
            .menu-list {
                @include transform(translateX(0px));
            }
        }
        .navbar {
            min-height: 66px;
            padding: 10px 0;
            >.container{
                max-width: 100%;
            }
            &:after {
                display: none;
            }
        }
        .navbar-brand{
            img{
                max-width: 120px;
            }
        }
        .sidebar-icon {
            display: inline-block;
            cursor: pointer;
            &.is-visible {
                .line1 {
                    @include transform(rotate(-45deg) translate(-4px, 7px));
                }
                .line2 {
                    @include opacity(0);
                    visibility: hidden;
                }
                .line3 {
                    @include transform(rotate(45deg) translate(-4px, -7px));
                }
            }
            span {
                width: 24px;
                height: 2px;
                margin: 6px 0;
                background-color: $white;
                @include border-radius(4px);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }
        .menu-list {
            >ul{
                display: block;
                
            }
            min-height: calc(100vh - 66px);
            overflow-y: auto;
            width: 300px;
            display: block;
            padding: 15px;
            background-color: #040404;
            @include transition(0.4s, ease-in-out);
            @include transform(translateX(-100%));
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 99;
            margin-top: 66px;
            li {
                margin: 0;
                padding: 10px 0;
            }
        }
        .header-first-block {
            .logo-signup-btn{
                .sign-up-link{
                    display: none !important;
                }
            }
        }
        .has-sub-menu {
            position: relative;
            & > a {
                position: relative;
                & + em {
                    position: absolute;
                    right: 0;
                    top: 9px;
                    width: 25px;
                    height: 25px;
                    background: url(../images/arrow-down.svg) center no-repeat;
                    cursor: pointer;
                    z-index: 1;
                    @include transition(0.3s, ease-in-out);
                    &[aria-expanded="true"] {
                        @include transform(rotate(180deg));
                    }
                }
               
             }
             &:hover, &:focus  {
                 .dropdown-menu-list {
                     @include opacity(1);
                     visibility: visible;
                     @include transform(translateY(0));
                     @include transition(0.3s, ease-in-out);
                 }
             }
             .dropdown-menu-list {
                 padding-left: 15px;
                 li {
                     &:first-child{
                         padding-top: 20px;
                     }
                     a{
                         font-size: 14px;
                     }
                 }
             }
         }
    }
}
.bg-overly {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -110%;
    width: 100%;
    @include transition(0.4s, ease-in-out);
    background: rgba(0, 0, 0, 0.5);

    z-index: 9;
    -webkit-transition: all .6s cubic-bezier(.6,.1,.68,.53) .4s;
    transition: all .6s cubic-bezier(.6,.1,.68,.53) .4s;
    &.is-visible {
        left: 0;
        -webkit-transition: all .6s cubic-bezier(.22,.61,.24,1) 0s;
        transition: all .6s cubic-bezier(.22,.61,.24,1) 0s;
    }
}
.arrow-right {
    &:after {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-left: 8px;
        background-image: url("../images/angle-arrow-down.svg");
        background-size: cover;
        background-position: center;
        @include transform(rotate(-90deg));
    }
}
.main-content-wrapper{
    flex: 1 1 auto;
    padding-top: 94px;
    @media(max-width:991px){
        padding-top: 66px;
    }
}
.shape-image{
    background-image: url(../images/bg-shape.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 65%;
    @media (max-width:991px) {
        background-size: contain;
    }
}
.circle-image{
    background: url("../images/bg-circle.svg") no-repeat right 90px;
    background-size: 45%;
}
@media (max-width:991px) {
    .circle-image{
        background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/bg-circle.svg") no-repeat right 95px;
        background-size: 65%;
    }
}
.mw-775{
    max-width: 775px !important;
}
.mw-1110{
    max-width: 1110px;
    margin: auto;
}
// content-section
.content-section{
    @include box-shadow(0px 6px 20px rgba(0, 0, 0, 0.08));
    padding-top: 150px;
    .main-title{
        text-align: left;
        margin-bottom: 100px;
        h1{
            margin-bottom: 15px;
        }
        p{
            margin: 0;
            font-size: 36px;
            font-weight: 300;
            letter-spacing: 1.35px;
        }
    }
    .scroll-to-explore{
        font-weight: 300;
        font-size: 14px;
        @include flexbox();
        @include align-items(center);
        color: #f4f4f4;
        &:hover{
            color: #f57a29;
        }
    }
    @media(max-width:991px){
        padding-top: 50px;
        .main-title{
            h1{
                margin-bottom: 20px;
            }
            p{
                font-size: 22px;
            }
        }
    }
    @media(max-width:767px){
        .main-title{
            margin-bottom: 40px;
            h1{
                margin-bottom: 15px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

.main-footer{
    background-color: #000000;
    .container{
        max-width: 1520px;
    }
    .footer-link-section{
        padding: 70px 0 35px;
        h2{font-size: 18px;color: $white;margin-bottom: 15px;text-transform: uppercase;}
        .footer-links{
            li{
                padding: 5px 0;
                a{
                    background: rgb(234,156,104);
                    background: -moz-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    background: -webkit-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    background: linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea9c68",endColorstr="#e95443",GradientType=1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: relative;z-index: 1;
                    font-weight: 300;
                    &:hover {
                        &:after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: -2px;
                        background: #f57a29;
                        width: 0;
                        height: 1px;
                        @include transition(0.3s, ease-in-out);
                    }
                }
            }
        }
    }
    .social-icon{
        padding-top: 5px;
        @include flexbox();
        flex-wrap: wrap;
        .social-item{
            @include inline-flex;
            align-items: flex-start;
            margin-bottom: 18px;
            width: 100%;
            &:hover{
                color: $white;
            }
            span{
                background: rgb(234,156,104);
                background: -moz-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                background: linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea9c68",endColorstr="#e95443",GradientType=1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                position: relative;
                z-index: 1;
                &:hover {
                    &:after {
                        width: 100%;
                        right: auto;
                        left: 0;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    bottom: -2px;
                    background: #f57a29;
                    width: 0;
                    height: 1px;
                    @include transition(0.3s, ease-in-out);
                }
            }
            .inner-text{
                margin-left: 15px;
            }
        }
    }
    .footer-copyright-section{
        padding: 30px 0;
        p{
            font-size: 10px;  
            margin-bottom: 0;
        }
    }
    @media(max-width:767px){
        .footer-logo{
            margin-bottom: 30px;
        }
        .footer-link-section{
            padding-bottom: 10px;
            padding-top: 50px;
            h2{
                font-size: 16px;margin-bottom: 10px;
            }
            .footer-links{
                margin-bottom: 20px;
            }
        }
        .footer-copyright-section{
            padding-top: 0;
        }
        .social-icon{
            .social-item{
                width: 100%;
                .inner-text{
                    font-size: 14px;
                }
            }
        }
    }
}
// services-section
.services-section{
    .card{
        background-color: #040404;
        border: 1px solid rgba(242 ,131 ,58, 0.5);
        border-radius: 10px;
        position: relative;
        @include transition(0.4s, ease-in-out);
        &:hover{
            &:before{
                right: 8px;
                bottom: 8px;
            }
        }
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            right: -8px;
            bottom: -8px;
            background: rgb(216,216,216);
            background: -moz-linear-gradient(132deg, rgba(216,216,216,1) 0%, rgba(246,118,34,1) 100%);
            background: -webkit-linear-gradient(132deg, rgba(216,216,216,1) 0%, rgba(246,118,34,1) 100%);
            background: linear-gradient(132deg, rgba(216,216,216,1) 0%, rgba(246,118,34,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8d8d8",endColorstr="#f67622",GradientType=1);
            border-radius: 10px;
            z-index: -1;
            @include transition(0.4s, ease-in-out);
        }
        .card-body{
            padding: 40px 26px;
        }
        .card-img-top{
            margin-bottom: 30px;
        }
        .card-title{
            font-size: 18px;
            margin-bottom: 30px;
            line-height: 27px;
            font-weight: 300;
        }
        .card-text{
            font-size: 16px;
        }
    }
}

// tab-section
.tab-section{
    .main-title{
        p{
            font-size: 24px;
            max-width: 750px;
        }
    }
    .tab-block{
        .nav-tabs{
            border: none;
            margin-bottom: 20px;
            a{
                font-size: 21px;
                border: none;
                color: $white;
                position: relative;
                margin-right: 60px;
                font-weight: 500;
                padding:0 10px 5px 0;
                &:last-child{
                    margin-right: 0;
                }
                &.active{
                    background-color: transparent;
                    font-weight: 900;
                    &:after{
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        bottom: 0;
                        background: linear-gradient(229.42deg, #D92462 29.27%, #FA6302 111.54%);
                        width: 100%;
                        height: 1px;
                    }
                }
            }
        }
        .logo-block{
            img{
                margin-bottom: 64px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .tab-item-content{
            background-color: #040404;
            border-radius: 10px;
            position: relative;
            padding: 55px 95px;
            @include transition(0.4s, ease-in-out);
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: -8px;
                bottom: -8px;
                background: linear-gradient(229.42deg, #D92462 29.27%, #FA6302 111.54%);
                border-radius: 10px;
                z-index: -1;
                @include transition(0.4s, ease-in-out);
            }
            .tab-dec-block{
                h3{
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 16px;
                }
                ul{
                    padding-left: 18px;
                    li{
                        list-style: disc;
                        padding-bottom: 8px;
                        font-size: 16px;
                    }
                }
                .visit-btn{
                    text-transform: uppercase;
                    color: #f4f4f4;
                    font-weight: 300;
                    margin-top: 15px;
                    font-size: 16px;
                    display: inline-block;
                    @include transition(0.3s, ease-in-out);
                    @media (max-width:767px) {
                        font-size: 14px;
                    }
                    &:hover{
                        color: #FC6300;
                    }
                    &:after{
                        content: "";
                        width: 33px;
                        height: 11px;
                        margin-left: 8px;
                        display: inline-block;
                        background: url(../images/arrow-right.svg) no-repeat right center;
                    }
                }
                @media (max-width:767px) {
                    ul li,
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        @media (max-width:991px) {
            .logo-block{
                img{
                    margin-bottom: 20px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    @media (max-width:991px) {
        .main-title{
            p{
                font-size: 16px;
            }
        }
        .tab-block{
            .nav-tabs{
                margin-bottom: 30px;
                a{
                    font-size: 15px;
                    margin-right: 20px;
                }
            }
            
            .tab-item-content{
                padding: 30px;
            }
        }
    }
    @media (max-width:767px) {
        .logo-block{
            text-align: center;
            margin-bottom: 30px;
        }
        .tab-block{
            .nav-tabs{
                margin-bottom: 20px;
                @include flexbox;
                white-space: nowrap;
                overflow-y: auto;
                flex-wrap: nowrap;
                a{
                    font-size: 15px;
                    margin-right: 15px;
                    margin-bottom: 10px;
                }
            }
            .tab-item-content{
                padding: 20px;
            }
        }
    }
}
@media (max-width:991px) {
    .br-none br{
        display: none;
    }
}
// bottom-content
.bottom-content{
    margin-top: 120px;
    h4{
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 1.5;
        font-weight: 300;
    }
    @media (max-width:991px) {
        margin-top: 50px;
        h4{
            font-size: 18px;
        }
    }
    @media (max-width:575px) {
        margin-top: 30px;
    }
}
.hover-line{
    position: relative;
    z-index: 1;
    display: inline-flex !important;
    @include align-items(center);
    &:hover{
        &:before{
            width: 100%;
            right: auto;
            left: 0;
        }
    }
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        background: #f57a29;
        width: 0;
        height: 2px;
        @include transition(0.3s, ease-in-out);
    }
}
// category-section
.category-section{
    .category-card{
        background-color: #040404;
        border-radius: 10px;
        position: relative;
        padding: 48px;
        @include transition(0.4s, ease-in-out);
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            right: -8px;
            bottom: -8px;
            background: linear-gradient(229.42deg, #D92462 29.27%, #FA6302 111.54%);
            border-radius: 10px;
            z-index: -1;
            @include transition(0.4s, ease-in-out);
        }
        h3{
            font-size: 18px;
            color: $white;
            margin-bottom: 10px;
        }
        .title-block{
            p{
                font-size: 16px;
            }
        }
        
        .add-more-btn{
            text-align: center;
            a{
                font-size: 18px;
                text-transform: uppercase;
            }
            
        }
        .market-text{
            text-align: center;
            margin-top: 65px;
            span{
                background: rgb(249,130,50);
                background: -moz-linear-gradient(90deg, rgba(249,130,50,1) 0%, rgba(201,0,153,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(249,130,50,1) 0%, rgba(201,0,153,1) 100%);
                background: linear-gradient(90deg, rgba(249,130,50,1) 0%, rgba(201,0,153,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f98232",endColorstr="#c90099",GradientType=1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 16px;
            }
        }
    }
    @media (max-width:991px) {
        .category-card{
            padding: 30px;
            h3{
                font-size: 16px;
            }
            .title-block{
                p{
                    font-size: 14px;
                }
            }
            .category-items{
                .category-item{
                    width: 25%;
            flex: none;
                }
            }
            .market-text{
                margin-top: 25px;
                span{
                    font-size: 15px;
                }
            }
            .add-more-btn{
                a{
                    font-size: 14px;
                }
            }
        }
        
    }
    @media (max-width:767px) {
        .category-card{
            padding: 20px;
            .category-items{
                .category-item{
                    width: 33.33%;
                }
            }
        }
    }
    @media (max-width:575px) {
        .category-card{
            .category-items{
                .category-item{
                    width: 50%;
                }
            }
        }
    }
}

.category-items{
    text-align: center;
    @include flexbox();
    @include justify-content(space-between);
    margin-bottom: 50px;
    .category-item{
        padding: 0 7.5px;
        &:hover{
            span{
                color: #f57a29;
            }
            img{
                @include transform(scale(1.1));
            }
        }
        img{
            display: block;
            margin: 0 auto;
            @include transition(0.3s, ease-in-out);
        }
        span{
            padding-top: 17px;
            font-size: 16px;
            display: block;
            font-weight: 300;
            @include transition(0.3s, ease-in-out);
        }
    }
    @media (max-width:991px) {
        margin-bottom: 20px;
        @include flex-wrap(wrap);
        @include justify-content(center);
        .category-item{
            margin-bottom: 30px;
            span{
                font-size: 14px;
                padding-top: 14px;
            }
        }
    }
}
// image-content-section
.image-content-section{
    padding-top: 130px;
    .main-title{
        margin-bottom: 130px;
    }
    .scroll-to-explore{
        margin-bottom: 120px;
    }
    .img-block{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    @media (max-width:1899px) {
        .img-block{
            img{
                max-width: 460px;
                width: 100%;
            }
        }
    }
    @media (max-width:991px) {
        .img-block{
            img{
                max-width: 310px;
            }
        }
        .main-title{
            margin-bottom: 50px;
            p{
                font-size: 30px;
            }
        }
        .scroll-to-explore{
            margin-bottom: 50px;
        }
    }
    @media (max-width:767px) {
        padding-top: 40px;
        padding-bottom: 0;
        .img-block{
            position: relative;
            top: auto;
            right: auto;
            margin-top: 25px;
            text-align: center;
            img{
                max-width: 100%;
            }
        }
        .main-title{
            margin-bottom: 40px;
            p{
                font-size: 16px;
                br{
                    display: none;
                }
            }
        }
        .scroll-to-explore{
            margin-bottom: 40px;
            font-size: 14px;
        }
    }
}
// image-content-section1
.image-content-section1{
    background: url(../images/top-shape.svg) right bottom no-repeat;
    padding-bottom: 160px;
    padding-top: 45px;
    .image-content-inner{
        background: url(../images/overlay-img01.png) left center no-repeat;
        min-height: 695px;
        padding-top: 90px;
    }
    .card-content{
        font-size: 32px;
    }
    @media (max-width:1199px) {
        background-size: 30%;
    }
    @media (max-width:991px) {
        padding-bottom: 100px;
        .image-content-inner{
            min-height: 40vh;
            padding: 40px 0;
        }
        .card-content{
            font-size: 20px;
            text-align: center;
        }
    }
    @media (max-width:767px) {
        padding-bottom: 80px;
        .image-content-inner{
            min-height: 30vh;
            background-size: cover;
        }
        .card-content{
            font-size: 16px;
        }
    }
    @media (max-width:575px) {
        background-size: 36%;
    }
}
.border-gradient {
    border-image-source: linear-gradient(266deg, rgba(201,0,153,1) 0%, rgba(246,118,34,1) 40%, rgba(216,216,216,1) 100%) !important;
  }
// camera-man-section
.camera-man-section{
    padding: 45px 0;
    min-height: 985px;
    background: url(../images/cameraman.png) center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .card-content{
        max-width: 545px;
        margin: 0 auto;
        background-color: #040404;
        border: 0.75px solid;
        border-image-slice: 1;
        border-width: 1px;
        padding: 32px;
        font-size: 18px;
    }
    @media (max-width:991px) {
        min-height: 40vh;
        .card-content{
            font-size: 16px;
        }
    }
    @media (max-width:767px) {
        min-height: 30vh;
        @include flexbox();
        @include align-items(center);
        .card-content{
            padding: 20px;
        }
    }
}
// content-box-section
.content-box-section{
    padding: 200px 0;
    text-align: center;
    background: url(../images/bottom-shape.png) left top no-repeat;
    background-size: 100% 100%;
    .card-content{
        max-width: 1120px;
        margin: 0 auto;
        background-color: #040404;
        border: 0.75px solid;
        border-image-slice: 1;
        border-width: 1px;
        padding: 32px;
        font-size: 18px;
    }
    @media (max-width:991px) {
        padding: 40px 0;
        .card-content{
            font-size: 16px;
        }
    }
    @media (max-width:767px) {
        .card-content{
            padding: 20px;
        }
    }
}
// dec-section
.dec-section{
    .card-content-inner{
        background-color: #040404;
        border-radius: 10px;
        position: relative;
        padding: 35px 65px;
        max-width: 885px;
        @include transition(0.4s, ease-in-out);
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            right: -8px;
            bottom: -8px;
            background: linear-gradient(229.42deg, #D92462 29.27%, #FA6302 111.54%);
            border-radius: 10px;
            z-index: -1;
            @include transition(0.4s, ease-in-out);
        }
        h3{
            font-weight: 300;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        p{
            font-weight: 300;
        }
    }
    @media (max-width:991px) {
        .card-content-inner{
            padding: 25px 35px;
            h3{
                font-size: 16px;
            }
        }
    }
    @media (max-width:575px) {
        .card-content-inner{
            padding: 15px 20px;
            
        }
    }
}
// work-section
.work-section{
    .card-content{
        text-align: center;
        background-color: #040404;
        padding: 65px;
        border: 0.75px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(
        266deg, #c90099 0%, #f67622 40%, #d8d8d8 100%) !important;
        p{
            line-height: 34px;
            color: #d8d8d8;
        }
    }
    @media (max-width:991px) {
        .card-content{
            padding: 35px;
            p{
                line-height: 24px;
            }
        }
    }
    @media (max-width:575px) {
        .card-content{
            padding: 15px;
        }
    }
}
.fw-18{
    font-size: 18px;
    line-height: 40px;
}
// market-section
.market-section{
    .category-items{
        flex-wrap: wrap;
        margin-bottom: 0;
        .category-item{
            width: 25%;
            &:nth-child(n+5){
                margin-top: 45px;
            }
        }
    }
    .card-content{
        ul li,
        p{
            line-height: 32px;
            font-weight: 300;
        }
    }
    .bottom-link{
        margin-top: 50px;
    }
    @media (max-width:991px) {
        .category-items{
            .category-item{
                width: 33.33%;
                margin-bottom: 0;
                &:nth-child(n+4){
                    margin-top: 25px;
                }
            }
        }
        .fw-18{
            font-size: 16px;
        }
        .card-content{
            ul li,
            p{
                line-height: 24px;
                font-weight: 300;
                font-size: 14px;
            }
        }
        .bottom-link{
            margin-top: 35px;
        }
    }
    @media (max-width:767px) {
        .category-items{
            margin-top: 30px;
        }
    }
    @media (max-width:575px) {
        .bottom-link{
            margin-top: 25px;
        }
        .category-items{
            .category-item{
                width: 50%;
                margin-bottom: 0;
                &:nth-child(n+3){
                    margin-top: 25px;
                }
            }
        }
    }
}
.bottom-link{
    span{
        font-weight: 300;
        background: rgb(234,156,104);
        background: -moz-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
        background: linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea9c68",endColorstr="#e95443",GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
    }
    @media (max-width:991px) {
        span{
            font-size: 14px;
        }
    }
}
// token-section
.token-section{
    .card-content{
        text-align: center;
        position: relative;
        z-index: 1;
        &:after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: url(../images/arrow.png) no-repeat top center;
            width: 100%;
            height: 100%;
            background-size: 100% 98%;
            z-index: -1;
        }
        *{
            color: #ffffff;
        }
        .image-block{
            margin-bottom: 24px;
            img{
                width: 64px;
                margin-top: -25px;
            }
        }
        h3{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        ul{
            li{
                line-height: 32px;
                font-weight: 300;
            }
        }
        .wallet-exchange-block{
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            padding: 0 65px;
        }
    }
    .bottom-link{
        margin-top: 20px;
    }
    @media (max-width:1199px) {
        .card-content{
            h3{
                margin-bottom: 15px;
            }
            &:after{
                background-size: 100% 100%;
            }
            .wallet-exchange-block{
                padding: 0;
            }
        }
    }
    @media (max-width:991px) {
        .card-content{
            h3{
                font-size: 16px;
                margin-bottom: 15px;
            }
            ul{
                li{
                    line-height: 24px;
                    font-size: 14px;
                }
            }
            .wallet-exchange-block{
                span{
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width:768px) {
        .card-content{
            .image-block{
                img{
                    margin-top: 0;
                }
            }
            .wallet-exchange-block{
                margin-top: 15px;
            }
            &:after{
                display: none;
            }
        }
    }
}
// team-section
.team-section{
    .card-content{
        margin-bottom: 100px;
        &:last-child{
            margin-bottom: 0;
        }
        h3{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 24px;
            text-transform: uppercase;
        }
        .card-items{
            .card{
                background-color: transparent;
                border: none;
                .card-body{
                    &:hover{
                        .card-img-top{
                            &:after{
                                right: 8px;
                                bottom: 8px;
                            }
                        }
                    }
                }
                .card-img-top{
                    width: 100%;
                    display: block;
                    @include border-radius(10px);
                    margin-bottom: 30px;
                    position: relative;
                    img{
                        width: 100%;
                    }
                    
                    &:after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        right: -8px;
                        bottom: -8px;
                        @include transition(0.3s, ease-in-out);
                        background: linear-gradient(130.5deg, #D8D8D8 -31.81%, #DEC2B0 -5.61%, #F67622 63.41%, #C90099 158.73%);
                        border-radius: 10px;
                        z-index: -1;
                    }
                }
                .card-title{
                    font-size: 20px;
                    color: $white;
                    font-weight: 300;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
                .card-text{
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin-bottom: 20px;
                    background: rgb(234,156,104);
                    background: -moz-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    background: -webkit-linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    background: linear-gradient(90deg, rgba(234,156,104,1) 0%, rgba(233,84,67,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea9c68",endColorstr="#e95443",GradientType=1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .visit-btn{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 200;
                    &:after{
                        content: "";
                        width: 33px;
                        height: 11px;
                        margin-left: 8px;
                        display: inline-block;
                        background: url(../images/arrow-right.svg) no-repeat right center;
                    }
                }
            }
        }
    }
    @media (max-width:991px) {
        .card-content{
            margin-bottom: 25px;
            h3{
                font-size: 16px;
                margin-bottom: 15px;
            }
            .card-items{
                .card {
                    .card-title{
                        font-size: 14px;
                    }
                    .card-text{
                        font-size: 13px;
                    }
                    .visit-btn{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}