*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    &.is-visible {
        overflow: hidden;
    }
}
:focus{
    box-shadow: none !important;
}
ul {
    margin: 0;
    padding: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}
a {
    color: $darkBlack;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $darkBlack;
        text-decoration: none;
    }
}
:focus {
    outline: none !important;
}
p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    color: #000000;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
img {
    max-width: 100%;
}

.container {
    max-width: 1340px;
    display: block !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

section {
    position: relative;
    padding: 60px 0;
    @media (max-width: 991px) {
        padding: 40px 0;
    }
}
.site-btn{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #444444;@include inline-flex;@include align-items(center);
    @include justify-content(center);
    min-height: 50px;
    padding: 5px 25px;
    min-width: 120px; 
    &:hover{
        color: #ffffff;
        background-color: #222222;
        &.arrow-right{
            &:after{
                @include transform(rotate(-90deg) translateY(5px));
            }
        }
    } 
    &.arrow-right{
        &:after{
            width: 15px;
            height: 15px; 
            margin-left: 15px;filter: invert(1);@include transition(0.3s, ease-in-out);
        }
    }  
}
.site-btn1{
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    border: 1px solid #000000;
    @include inline-flex;@include align-items(center);
    @include justify-content(center);
    min-height: 50px;
    padding: 5px 25px;
    min-width: 120px; 
    &:hover{
        &.arrow-right{
            &:after{
                @include transform(rotate(-90deg) translateY(5px));
            }
        }
    } 
    &.arrow-right{
        &:after{
            width: 15px;
            height: 15px; 
            margin-left: 15px;@include transition(0.3s, ease-in-out);
        }
    }  
}
.color-darked{
    color: #666666 !important;
}
.bg-light{
    background-color: #eeeeee;
}
.main-title {
    margin-bottom: 40px;
    span {
        font-size: 18px;
        color: #626262;
        margin-bottom: 5px;
        font-weight: 600;
        position: relative;
        display: block;
    }
    h2 {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 0;
        color: $black;
    }
    h3{
        font-weight: 700;
        font-size: 30px;
    }
    p {
        margin: 24px auto 0;
        max-width: 650px;
    }
    @media (max-width: 1199px) {
        h2 {
            font-size: 40px;
        }
        h3{
            font-size: 24px;
        }
    }
    @media (max-width: 991px) {
        h2 {
            font-size: 30px;
        }
        h3{
            font-size: 18px;
        }
    }
}
.main-content-wrapper{
    padding-top: 96px;
    @media(max-width:991px){
        padding-top: 80px;
    }
}
.main-header{
    position: fixed;
    background-color: $white;left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    &.fixed-header{
        @include box-shadow(0px 6px 20px rgba(0, 0, 0, 0.08));
        .navbar-brand{
            img{
                max-width: 75%;
            }
        }
    }
    .container{
        max-width: 1920px;
        padding: 0 5%;
    }
    .navbar{
        padding: 0;
        display: block;
    }
    .navbar-nav{
        @include justify-content(flex-end);
    }
    .logo-live-btn{
        @include flexbox();
        @include align-items(center);
        .navbar-brand{
            padding: 0;
            margin: 0;
            @include transition(0.3s, ease-in-out);
            flex: none;
            img{
                @include transition(0.3s, ease-in-out);
            }
        }
        .live-btn{
            background-color: #626262;
            margin-left: 20px;
            color: $white;@include border-radius(10px);
            text-decoration: none;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);            
            padding: 8px 15px;
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            position: relative;
            .form-check-input{
                position: relative;
                margin: 0 15px 0 0;width: 20px;
                height: 20px;   
                
            }
            
        }
    }
    .menu-list{
        width: 100%;
        li{
            margin: 0 25px;
            position: relative;
             a{
                color: $black;
                position: relative;
                z-index: 1;
                font-size:20px;
                font-weight: 600;@include flexbox();
                @include align-items(center);                
            }
        }
    }
    .header-first-block{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);  
        padding: 15px 0;     
    }
    .dropdown-mega-menu{
        text-align: left;
        a{
            span{
                height: 15px;
                width: 15px;
                margin-left: 8px;
                background-image: url(../images/angle-arrow-down.svg);
                background-size: cover;
                background-position: center;
                flex: none;
            }
        }
        ul{
            padding: 10px 0;
            li{
                padding: 5px 20px;
                margin: 0;
                &:hover{
                    background-color: #eeeeee;
                }
                a{
                    font-size: 16px;
                    font-weight: 400;
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
    @media(min-width:992px){
        .menu-list{
            li{
                a{
                    &:hover{
                       &:after{
                        width: 100%;
                        right: auto;
                        left: 0;
                       }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: 0;
                        background: $black;
                        width: 0;
                        height: 2px;@include transition(0.5s, ease-in-out);
                    }
                }
            }
        }
        .dropdown-mega-menu{
            &:hover{
                .dropdown-menu-list{
                    @include opacity(1);
                    visibility: visible;
                    @include transform(translateY(0));@include transition(0.3s, ease-in-out);
                }
            }
            .dropdown-menu-list{
                position: absolute;
                min-width: 160px;
                top: 100%;@include opacity(0);
                display: block !important;
                background-color: $white;
                border: 1px solid #eeeeee;
                visibility: hidden;@include box-shadow(0 -2px 5px rgba(0, 0, 0, 0.08));@include transform(translateY(10px));
            }
        }
    }
    @media(max-width:1499px){
        .container{
            padding: 0 15px;
        }
        .menu-list{
            width: 100%;
            li{
                margin: 0 10px;
                a{
                    font-size: 16px;
                }
            }
        }
        .logo-live-btn{
            .navbar-brand {
                max-width: 45%;
            }
            .live-btn{
                font-size: 16px;
                .form-check-input{
                    margin-right: 10px;
                }
            }
        }
    }
    @media(max-width:991px){
        &.is-visible{
            background-color: $white;
            .menu-list{
                @include transform(translateX(0px));
            }
        }
        &.fixed-header{
            .menu-list{
               min-height: calc(100vh - 68px);margin-top: 68px;
            }
        }
        .sidebar-icon{
           display: inline-block;
            cursor: pointer;
            &.is-visible{
                .line1{
                    @include transform(rotate(-45deg) translate(-5px, 6px));
                }
                .line2{
                    @include opacity(0);
                    visibility: hidden;
                }
                .line3{
                    @include transform(rotate(45deg) translate(-5px, -6px));
                }
            }
            span{
                width: 26px;
                height: 4px;
                margin: 4px 0px;background-color: #000;@include border-radius(4px);display: block;@include transition(0.3s, ease-in-out);
            }
        }
        .header-first-block{
            padding: 14px 0;
        }
        .menu-list{
            min-height: calc(100vh - 80px);
            overflow-y: auto;
            width: 300px;
            display: block;
            padding: 15px;
            background-color: $white;
            @include transition(0.3s, ease-in-out);
            @include transform(translateX(-100%));
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 99;
            border-top: 1px solid #eeeeee;
            margin-top: 79px;
            li{
                margin: 0;
                padding: 10px 0;
                a{
                    @include justify-content(space-between);
                }
            }
        }
        .dropdown-mega-menu{
            a{
                span{
                    width: 12px;
                    height: 12px;
                }
            }
            ul{
                padding: 0;
                li{
                    padding: 5px 10px;
                    font-size: 14px;
                    &:first-child{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
.bg-overly {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    @include transition(0.3s, ease-in-out);
    @include opacity(0);
    background: black;
    visibility: hidden;
    z-index: 9;
    &.is-visible {
        @include opacity(0.4);
        visibility: visible;
    }
}
.arrow-right{
    &:after{
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-left: 8px;
        background-image: url(../images/angle-arrow-down.svg);
        background-size: cover;
        background-position: center;@include transform(rotate(-90deg));
    }
}
.breadcrumb-nav-list{
    background-color: #dddddd;
    border-top: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    min-height: 60px;@include flexbox();
    @include align-items(center);
    .container {
        max-width: 1920px;
        padding: 0 5%;
    }
    ul{
        @include flexbox();
        @include align-items(center);
        white-space: nowrap;
        overflow-x: auto;
        li{
            padding: 5px 20px;
            &:first-child{
                padding-left: 0;
            }
            a{
                font-size: 16px;
                color: $black;@include flexbox();
                @include align-items(center);
            }
        }
    }
    @media(max-width:1499px){
        .container{
            padding: 0 15px;
        }
        ul{
            li{
                padding: 5px 10px;
            }
        }
    }
    @media(max-width:991px){
        min-height: 50px;
        ul{
            li{
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
.header-search-block{
    padding: 30px 0;
    border-bottom: 1px solid #ced4da;
    .container {
        max-width: 1920px;
        padding: 0 5%;
    }
    .input-group{
        min-height: 50px;
        
        .form-control{
            @include border-radius(0);
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: 15px center;
            padding-left: 60px;
        }
        .form-select{
            color: #000000;
            max-width: 400px;
        }
        
        button{
            @include border-radius(0);
            background-color: #626262;
            min-width: 120px;
        }
    }
    .input-search-block{
        max-width: 1170px;
        margin: auto;
        @include flexbox();
        @include align-items(center);
        .advanced-search{
            color: #000000;
            text-decoration: underline;
            flex: none;
        }
        .input-search{
            width: 100%;
            margin-right: 40px;
        }
    }
    @media(max-width:1499px){
        .container{
            padding: 0 15px;
        }
    }
    @media(max-width:991px){
       padding: 20px 0;
        .input-search-block{
            .input-group {
                min-height: 40px;
            } 
        }
    }
    @media(max-width:767px){
        .input-search-block{
            display: block;
            text-align: center;
            .advanced-search{
                margin-top: 10px;
                display: inline-block;
            }
            .input-group {
                .form-select,
                .form-control {
                    font-size: 14px;
                }
                button{
                    min-width: auto;
                }
            }
        }
    }
}
.breadcrumb-menu-list{
    padding: 5px 0;
    .container {
        max-width: 1920px;
        padding: 0 5%;
    }
    ul{
        @include flexbox();
        @include align-items(center);
        @include flex-wrap(wrap);
        li{
            padding: 5px 5px;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                a{
                    color: #555555;
                    &.arrow-right{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
            a{
                font-size: 16px;
                color: $black;
                @include flexbox();
                @include align-items(center);
               
            }
        }
    }
    @media(max-width:1499px){
        .container{
            padding: 0 15px;
        }
    }
    @media(max-width:991px){
        ul{
            li{
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
.image-content-block{
    .card-content{
        .main-title{
            margin-bottom: 20px;
        }
        .time-date-list{
            font-size: 20px;
            font-weight: 700;
            span{
                font-weight: 400;
                text-decoration: underline;
                font-size: 16px;
                display: inline-block;
                margin-left: 15px;
                cursor: pointer;
            }
        }
        h4{
            font-size: 20px;
            font-weight: 700;
        }
        .site-btn{
            margin-top: 5px;
        }
    }
    @media(max-width:767px){
        .card-image{
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
    }
}
.timer-block{
    text-align: center;
    h2{
        font-weight: 700;
        margin-bottom: 30px;
    }
    #timer{
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        .timer-count{
            font-weight: 900;
            font-size: 50px;
            padding:0 40px;
            line-height: normal;
            span{
                display: block;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                padding-top: 10px;
            }
        }
    }
    @media(max-width:991px){
        h2{
            margin-bottom: 20px;
        }
        #timer{
            .timer-count{
                font-size: 30px;
                padding: 0 10px;
                span{
                    font-size: 14px;
                }
            }
        }
    }
}
.main-footer{
    padding: 50px 0;
    .container {
        max-width: 1920px;
        padding: 0 5%;
    }
    h3{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: normal;
    }
    .footer-logo{
        @include flexbox();
        @include align-items(flex-end);
        @include justify-content(space-between);
        padding-bottom: 25px;
        margin-bottom: 35px;
        border-bottom: 1px solid #ced4da;
    }
    .footer-contact-details{
        text-align: right;
    }
    .footer-content{
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .footer-links{
        li{
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
            a{
                font-size: 16px;
                color: #000000;
            }
        }
    }
    @media (max-width: 1499px){
        .container {
            padding: 0 15px;
        }
    }
    @media (max-width: 991px){
        padding: 40px 0;
    }
    @media (max-width: 767px){
        .footer-contact-details {
           text-align: left;
           margin-top: 25px;
        }
        h3{
            margin-bottom: 10px;
        }
    }
}
.blog-about-wrapper{
    .card{
        border: none;
        background-color: #f4f4f4;
        .card-body{
            padding: 50px;
            h2{
                font-weight: 700;
                font-size: 36px;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                margin-bottom: 25px;
            }
        }
    }
}
.left-content-block{
    .card-content{
        .site-btn {
            margin-top: 0;
            margin-bottom: 20px;
        }
        .btn-groups{
            @include inline-flex;@include flex-direction(column);
        }
    }
}
.number-list{
    counter-reset: section;
    li{
        font-size: 20px;
        @include flexbox();
        @include align-items(baseline);
        padding: 8px 0;
        &::before{
            content: counter(section);
            counter-increment: section;
            font-weight: 700;
            font-size: 20px;
            width: 45px;
            display: block;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.trending-list-wrapper{
    .card-block{
        background-color: #f4f4f4;padding: 40px 50px;
    }
    .main-title{
        margin-bottom: 20px;
    }
}
.blog-wrapper{
    .card{
        border:none;background-color: #f4f4f4;
        .card-body{
            padding: 35px;
            h2{
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 20px;
            }
        }
    }
}