*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}
.text-orange{
    color: #FF0000 !important;
}
.text-blue{
    color: #2B7AD5 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    &.is-visible {
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
}
a {
    color: $darkBlack;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $darkBlack;
        text-decoration: none;
    }
    &:focus-visible {
        outline: 3px solid #f0ab2e !important;
        @include border-radius(4px);
    }
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    @media (max-width: 991px) {
        font-size: 14px;
    }
}
img{
    max-width:100%;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
}
.main-content-wrapper{
    @include flexbox();
    min-height: calc(100vh - 80px);
    .content-block{
        width: calc(100% - 300px);
    }
}
.plus-icon{
    width: 16px;
    height: 16px;
    background: url(../images/plus.svg) no-repeat center;
    display: block;
    margin-left: auto;
    cursor: pointer;
}
.icon {
    display: inline-block;
    background-size: contain !important;
    align-content: center !important;
}
.icon-settings {
    height: 20px;
    width: 20px;
    background: url(../images/icons/settings.svg) no-repeat center center;
}
.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    @include transitionValue(background, 0.5s, ease-in-out);
    z-index: 10;
    box-shadow: 0px 2px 4px #00000014;
    background-color: #ffffff;
    min-height: 80px;
    @include flexbox();
   .navbar{
    @include flexbox();
       .bar-icon{
           display: none;
       }
       .logo-block{
           min-width: 300px;
           padding: 25px 20px;@include flexbox();
           height: 100%;
           .navbar-brand{
                @include inline-flex;
            }
       }
       .title-block{
            @include flexbox();
            width: calc(100% - 300px);
           .title{
            @include inline-flex;
            @include align-items(center);
               .icon{
                margin-right: 10px;
               }
               h1{
                color: #333333;
                font-size: 24px;
                font-weight: 500;
               }
           }
       }
       
   }
}
.bg-overly {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    @include transitionValue(opacity, 0.3s, ease-in-out);
    opacity: 0;
    background: black;
    visibility: hidden;
    z-index: 9;
    &.is-visible {
        opacity: 0.4;
        visibility: visible;
    }
}
// sidebar-block
.sidebar-block{
    background-color: #ffffff;
    z-index: 9;
    width: 300px;
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    .search-bar{
        padding: 10px;
        .form-group{
            .form-control{
                border: 1px solid #D5D7DB;
                @include border-radius(4px);
                min-height: 38px;
                font-size: 14px;
                font-weight: 500;
                width: 100%;
                padding: 10px;
                &::placeholder{
                    color: #D5D7DB;
                }
            }
        }
    }
    .status{
        width: 10px;
        height: 10px;@include border-radius(100px);
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
        &.online {
            background-color: #00E65C;
        }
        &.offline {
            background-color: #B2B5BA;
        }
        &.billing {
            background-color: #FF9900;
        }
    }
    .sidebar-menu-block{
        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;
        flex: 1 1;
        max-height: calc(100vh - 202px);
        &:first-child{
            border-top: none;
        }
        .status{
            position: absolute;
            right: 0;
            border: 1px solid #FFFFFF;
            bottom: 3px;
        }
        .message-sidebar-channels{
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        hr{
            background-color: #EAEAEA;
            height: 1px;
            margin: 0;
            border: none;
        }
       
        .collapse-info-block{
            .collapse-card{
                .collaspe-header{
                    &.active{
                        .name{
                            &::before{
                                @include transform(rotate(180deg));
                            }
                        } 
                    }
                    .name{
                        &::before{
                            content: "";
                            display: inline-block;
                            margin-right: 5px;
                            vertical-align: middle;
                            border-top: 6px solid #A7A7A7;
                            border-right: 5px solid transparent;
                            border-bottom: 0;
                            border-left: 5px solid transparent;
                            margin-top: -1px;
                            cursor: pointer;
                            @include transition(0.4s, ease-in-out);
                        }
                    }
                }
            }
        }
        .collapse-card{
            padding: 20px;
            .collaspe-header{
                cursor: pointer;
                .icon{
                    width: 20px;
                    margin-right: 10px;
                }
                .name{
                    color: #333333;
                    font-size: 18px;
                    font-weight: 500;
                    @include flexbox();
                    @include align-items(center);
                }
            }
        }
        .collapse-body{
            display: none;
            &.show {
                display: block;
            }
            .user-name{
                @include flexbox();
                @include align-items(center);
                margin-top: 20px;
                .avatar-img{
                    margin-right: 10px;
                    position: relative;
                }
                .user-title{
                    color: #333333;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 500;
                    span{
                        color: #A7A7A7;
                        font-size: 12px;
                        display: block;
                        text-transform: capitalize;
                        padding-top: 3px;
                    }
                }
            }
        }
    }
    .user-setting-block{
        padding:20px;
        @include flexbox();
        .user-switch-block{
           .user-name{
                @include flexbox();
                @include align-items(center);
                color: #333333;
                font-weight: 700;
                img{
                    margin-right: 5px;
                    width: 21px;
                }
            }
        }
        .user-dropdown{
            .user-available-icon{
                border: 1px solid #E5E7EB;
                background: #F8F9FA;
                @include border-radius(20px);
                padding: 4px;
                cursor: pointer;@include inline-flex;
                .status{
                    width: 12px;
                    height: 12px;
                    margin-right: 18px;
                    border: none;
                    @include flexbox();
                    @include align-items(center);        
                    &::after{
                        content: "";
                        display: inline-block;
                        margin-left: 17px;
                        vertical-align: middle;
                        border-top: 6px solid #A7A7A7;
                        border-right: 5px solid transparent;
                        border-bottom: 0;
                        border-left: 5px solid transparent;
                        cursor: pointer;
                        @include transition(0.4s, ease-in-out);
                    }
                }
            }
        }
    }
}

.custom-dropdown{
    .custom-dropdown-menu{
        border: 1px solid #D5D7DB;
        background-color: #ffffff;
        @include border-radius(4px);
        padding: 10px 0;
        width: 160px;
        li{
            padding: 5px 15px;
            cursor: pointer;@include transition(0.3s, ease-in-out);
            color: #333333;
                font-size: 14px;
                font-weight: 500;
                .status{
                    margin-right: 7px;
                }
            &:hover{
                background-color: #eeeeee;
            }
            a{
                @include transition(0.3s, ease-in-out);
            }
        }
    }
}
.content-block{
    padding: 30px;
    .no-conversation-block{
        height: 100%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        h2{
            letter-spacing: 0.2px;
            color: #010101;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}