.main-footer {
    background-color: $purple;
    padding-top: 55px;
    .footer-list-block {
        .footer-link-list {
            h2 {
                font-size: 24px;
                color: $white;
                font-weight: 700;
                margin-bottom: 15px;
            }
            ul {
                li {
                    margin-bottom: 5px;
                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 500;
                        @include transition(0.2s, ease-in-out);
                        display: inline-block;
                        position: relative;
                        vertical-align: text-top;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 1px;
                            bottom: 0;
                            @include transition(0.2s, ease-in-out);
                            left: 50%;
                            background-color: $white;
                        }
                        &:hover {
                            &:after {
                                width: 100%;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
        .footer-social {
            h2 {
                margin-bottom: 25px;
            }
            ul {
                @include flexbox();
                @include align-items(center);
                li {
                    margin: 0 15px 0 0;
                    a {
                        &:after {
                            display: none;
                        }
                        &:hover {
                            img {
                                @include opacity(0.8);
                            }
                        }
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        @include transition(0.2s, ease-in-out);
                    }
                }
            }
        }
    }
    .footer-copyright-text {
        padding: 80px 0 20px;
        text-align: center;
        p {
            font-size: 14px;
            margin: 0;
            color: $white;
        }
    }
    @media (max-width: 767px) {
        padding-top: 40px;
        .footer-list-block {
            .footer-link-list {
                margin-bottom: 25px;
                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                ul {
                    li {
                        margin: 0;
                    }
                }
            }
            .footer-social {
                ul {
                    li {
                        margin-right: 10px;
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        .footer-copyright-text {
            padding: 10px 0 15px;
        }
    }
}
