.d-flex {
    @include flexbox();
}
.justify-content-center {
    @include justify-content(center);
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-start {
    @include justify-content(center);
    -ms-flex-pack: flex-start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    @include justify-content(center);
    -ms-flex-pack: flex-end !important;
    justify-content: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.align-items-end {
    -ms-flex-align: flex-end !important;
    align-items: flex-end !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: end !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
ul {
    list-style: none;
}

.site-btn {
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    padding: 5px 22px;
    letter-spacing: 0.01em;
    color: $white;
    background-color: $green;
    text-transform: uppercase;
    @include border-radius(5px);
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include transition(0.4s, ease-in-out);
    &:hover {
        background-color: $black;
    }
    @media (max-width: 767px) {
        height: 39px;
    }
}

