// $resourceRoot : '../../resources';

$portalImagePath: '../../images/portal/';
$portalIconsPath: '../../images/icons/';

$siteImagePath: '../../images/website/';
$siteIconPath: '../../images/icons/';

// $commonImagePath: '#{$resourceRoot}/common/images';
// $commonIconPath: '#{$resourceRoot}/common/icons';
// $commonFontPath: '#{$resourceRoot}/site/fonts';
// $remixIconPath: '#{$commonIconPath}/remixicon';
