*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
section {
    position: relative;
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 40px 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
}
.overflow-hidden {
    overflow: hidden !important;
    .bg-overly {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        @include transition(0.3s, ease-in-out);
        background-color: rgba($black, 0.5);
        z-index: 9;
    }
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
:focus {
    outline: none !important;
}
p {
    margin: 0 auto 15px;
    font-size: 18px;
    color: #556281;
    font-weight: 500;
    max-width: 585px;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.4;
}
img {
    max-width: 100%;
    @include flexbox();
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.d-none {
    display: none !important;
}
.small-highlighter-green {
    background: url(../images/small-highlighter-green.png) no-repeat center;
    background-size: 100% 100%;
}

@media (min-width: 1200px) {
    .d-xl-block {
        display: block !important;
    }
}
@media (max-width: 1199px) {
    .d-lg-block {
        display: block !important;
    }
    .container {
        padding: 0 44px;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 24px;
    }
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .d-sm-block {
        display: block !important;
    }
}
