*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
}
.overflow-hidden {
    overflow: hidden !important;
    .bg-overly {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        @include transition(0.3s, ease-in-out);
        background-color:#eeeeee;
        @include opacity(0.7);
        z-index: 9;
    }
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
:focus {
    outline: none !important;
}
p {
   font-size: 16px;
   margin-bottom: 30px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.main-wrapper{
    min-height: 150vh;
    padding-top: 74px;
    @media (max-width:767px) {
        padding-top: 54px;
    }
}
section{
    padding: 50px 0;
    @media (max-width:767px) {
        padding: 35px 0;
    }
}
.d-none {
    display: none !important;
}


@media (min-width: 1200px) {
    .d-xl-block {
        display: block !important;
    }
}
@media (max-width: 1199px) {
    .d-lg-block {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .d-sm-block {
        display: block !important;
    }
}
