.main-content-wrapper {
    // padding-top: 90px;

    // @media (max-width: 992px){
    //     padding-top: 75px;
    // }
    @media (max-width: 767px){
        // padding-top: 50px;
        .container {
            & > .row:not(.row-grid) {
                margin-left: -15px; margin-right: -15px; 
                & > .col-12 {padding-left: 0px; padding-right: 0px;}
            }

            .card-full-mobile {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}

.no-hero-content-wrapper {
    margin-bottom: 50px;  
    @media (max-width: 767px) { 
        margin-bottom: 30px;
    }  
}

.is-light {
    * {color: #fff !important;}
}
.is-dark {
    * {color: $bodyfontcolor !important;}
}

.breadcrumb-block {
    border-bottom: 1px solid rgba(#9DB0AC, 0.2);
    padding: 10px 0px;
    overflow: auto;
    .breadcrumb {
        margin: 0px; flex-wrap: nowrap;  font-size: 12px;

        .breadcrumb-item {
            white-space: nowrap; position: relative;
            &+.breadcrumb-item {
                padding-left: 25px; 
            }
            &+.breadcrumb-item::before {
                content: '';
                background: url(../images/icons/arrow-dark.svg) left center no-repeat;
                background-size: 5px;
                width: 15px;
                display: block;
                height: 15px;
                margin-top: 3px;
                position: absolute;
                left: 10px;
                margin-top: -8px;
                top: 50%;
            }
            &.active {
                color: #3C4242;
            }
        }
    }

    @media (max-width:960px) { 
        display: none !important;
    }
}

// Commen Section
.section-block {
    margin-bottom: 50px;
    @media (max-width: 1600px) { 
        margin-bottom: 30px;
    }
    @media (max-width: 767px) { 
        // margin-bottom: 0px;

        &.section-block-xs {margin-bottom: 30px;}
    }

    &.sticky-top {
        top: 65px; 
        background: rgba(255, 255, 255, 0.8); z-index: 1021;
        @media (max-width: 1279px){
            top: 72px;
        }
        @media (max-width: 767px){
            top: 50px;
        }
    }
}

.section-title-block {
    margin-bottom: 30px;
    .title {
        margin-bottom:15px;
        font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (1600 - 320)));
        font-family:$hfont;   
    }
    .date {
        font-size: 18px;
        font-family:$hfont; 
        padding: 5px 0px; 
        color: #F3F7CC !important;
    }
    p:last-child {margin-bottom: 0px;}
}

.section-info-block {
    margin-bottom: 50px; 
    background: #F8F8F8;
    padding: 50px 0px;
    @media (min-width: 768px) { 
        padding: 50px 100px;
    }
    @media (max-width: 1600px) { 
        margin-bottom: 30px;
    }

    * :last-child {margin-bottom: 0px !important;}
}

// image-card-slider

.slider-block {   
    width: 100%;

    .slide-img {
        width: 100%;
        img {
            width: 100%; 
            -moz-transform: scale(1) !important;
            -webkit-transform: scale(1) !important;
            -o-transform: scale(1) !important;
            -ms-transform: scale(1) !important;  
        }
    }

    .splide__arrow {      
        background: transparent;
        z-index: 20;
        @include opacity(1);

        &:disabled {
            @include opacity(0.5);
        }
        svg {
            fill: #fff; width: 60px; height: 60px; 
            stroke: #fff;
            stroke-width: 3px;
        }

        &.splide__arrow--prev { left: 15px;}
        &.splide__arrow--next {
            right: 15px;
            @media (max-width: 992px) {
                right: 15px;
            }
        }
    }
        
    .splide__pagination {
        background: #fff;
        width: 100%;
        padding: 10px 15px;
        top: 100%;
        bottom: auto;

        .splide__pagination__page {
            background: #9CA1AA;
            &.is-active {
                background: $interaction;
                @include opacity(1);
                @include transform (scale(1.4));
            }
            
            &:hover {
                cursor: pointer;
                @include opacity(0.9);
            }

        }
    }
}

.section-summary-block { 
    max-width: 75%;
    h2, .title {  
        font-size: calc(28px + (32 - 28) * ((100vw - 320px) / (1600 - 320))); font-family: $hfont-bold; margin-bottom: 20px;
    }
    ul, .lists { 
        padding: 0; list-style-type: none; margin: 0 0 20px; 
        li { position: relative; font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); padding: 0 0 10px 15px;
            &::before { content: ''; width: 5px; height: 5px; border-radius: 50%; background: $darkBlue; display: inline-block; position: absolute; top: calc(6px + (10 - 6) * ((100vw - 320px) / (1600 - 320))); left: 0; }
        }
    }
       
    // p{ font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); }

    @media (max-width: 992px) {
        max-width: 100%;
    }
}


.mobile-tab-view {   
    @media (min-width: 767px) {
        display: none;
    }
    border-bottom: 1px solid $pink; @include flexbox(); @include align-items(center); margin-bottom: 30px;
    .tab-link { display: block; padding: 12px 25px; font-size: 18px; font-family: $hfont-bold; border-bottom: 4px solid transparent; text-decoration: none; @include transition (0.3s, ease-in-out);
        &:hover { background: $pink; color: $white; }
        &.active { border-color: $pink; }
    }
    @media (max-width: 575px) { 
        .tab-link { padding: 12px 20px; font-size: 16px; }
    }
}
.tab-content-block {  
    @media (max-width: 767px) {
        display: none;
        &.active {
            display: block;
        }
    }
}

/* main-content-wrapper */
.is-loader {position: relative;
    &::before {
        background: url(../images/loader.svg) center center no-repeat; background-size: cover;
        content: "";
        width: 57px;
        height: 57px;
        display: inline-block; position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
// 
.category-block{
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
    li{
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.48px;
        font-size: 12px;
        font-weight: 500;
        @include border-radius(4px);
        border: 1px solid rgba($white,0.4);
        padding: 7px 10px;
        margin: 5px;display: inline-block;
        vertical-align: middle;
        &.active{
            background-color: $white;
            color: #D0006F;
        }
    }
}
// latest-analytics
.latest-analytics{
    .card-block{
        .card-body{
            padding: 30px;
            .card-title{
                font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
            }
            .card-date{
                font-size: is-light;
            }
        }
    }
}
// tabs-wrapper
.tabs-wrapper{
    .title-block{
        padding: 20px 0 10px;
        font-size: 12px;

        *{margin-right: 10px;}
        p{
            color: rgba($white,0.9);
            text-transform: uppercase;
            display: inline-block;vertical-align: middle;
            margin-bottom: 0;
        }
        span{
            color: rgba($white,0.7);display: inline-block;vertical-align: middle;
        }
        .progress-btn{
            color: #3C4242;
            @include opacity(1);
            @include border-radius(2px);
            font-weight: 700;
            font-size: 10px;
            padding: 5px 8px 3px;
            background-color: #C4D600;
        }
    }
    .tabs{
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgba(157,176,172,0.2);
        font-family: "lexialight",serif !important;
        li{
            display: inline-block;
            cursor: pointer;
            margin-right: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 16px;
            position: relative;
            color: #fff;
            &.active{
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #c4d600;
                }
            }
        }
        @media(max-width:991px){
            li{
                margin-right: 10px;
                padding-bottom: 7px;
                padding-top: 7px;
            }
        }
    }
}
// section-summary-block1
.section-summary-block1{
    background-color: #F3F7CC;
    padding: 40px;
    margin-bottom: 30px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            padding: 3px 0;font-size: 14px;
        }
    }
    @media(max-width:991px){
        padding: 20px;
    }
}
// section-summary-block2
.section-summary-block2{
    background-color:#F8F8F8;
    padding: 60px;
    margin-bottom: 30px;
    @media(max-width:991px){
        padding: 25px;
    }
}
// guideline-block
.guideline-block{
    .inner-section{
        padding: 40px;
    }
    @media(max-width:991px){
        .inner-section{
            padding: 20px;
        }
    }
}

// number-list
.number-list{
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin: 0;
    li{
        margin-bottom: 1em;
        counter-increment: li;
        @include flexbox();
        word-break: break-all;
        &::before{
            content: counter(li) '.';
            display: inline-block;
            width: 2em;
            flex: none;
        }
    }
}
// user-block
.user-block{
    @include flexbox();
    padding: 20px 0 30px;
    .user-image{
        margin-right: 25px;
        flex: none;
        img{
            @include border-radius(50%);
        }
        overflow: hidden;
    }
    .user-dec{
        p{
            color: #3C4242;
            &:last-child{
                margin-bottom: 0;
            }
        }
        strong{
            font-weight: 700;
        }
    }
    @media(max-width:767px){
        display: block;
        text-align: center;
        .user-image {
            margin:0 0 15px;
        }
    }
}
.publications-block{
    strong{font-weight: 700;}
    .card-first-title{
        @include flexbox();
        @include justify-content(space-between);
    }
    .card-block{
        .card-body{
            padding: 40px;
            .card-title{
                font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
                margin-bottom: 15px;
            }
            .card-sub-title,
            .card-date{
                font-size: 16px;
                display: inline-block;
                margin: 0 30px 0 0;
                span{
                    margin-bottom: 5px;
                    display: block;color: #3C4242;
                }
            }
            
        }
    }
    @media(max-width:991px){
        .card-block{
            .card-body{
                padding: 20px;
                .card-sub-title,
                .card-date{
                    font-size: 14px;
                    margin: 0 15px 10px 0;
                }
            }
        }
    }
    @media(max-width:575px){
        .card-first-title{
            display: block;
        }
    }
}
.header-search-block{
    padding-bottom: 22px;
    .input-search-block{
        max-width: 1000px;
        margin: auto;
        @include flexbox();
        @include align-items(center);
    }
    .input-search{
        @include flexbox();
        width: 100%;
        margin-right: 40px;
        .form-control{
            background: rgba($white,0.5);
            @include border-radius(0);
            border: none;
            color: #000000;
            min-height: 50px;
            margin-right: 5px;
            background-image: url(../images/icons/icon-search.svg);
            background-repeat: no-repeat;
            background-position: 15px center;
            padding-left: 50px;
            &::placeholder{
                color: #000000;
            }
        }
        .custom-html-dropdown{
            width: 60%;
            margin-right: 5px;
            text-align: left;
        }
        .form-select{
            background: rgba($white,0.5);
            @include border-radius(0);
            color: #000000;
            border: none;
            min-height: 50px;
            background-image: url(../images/icons/arrow-dark-bottom.svg);
            background-position: right 25px center;
            background-repeat: no-repeat;
            cursor: pointer;    text-align: left;
        }
        button.btn{font-size: 16px;}
    }
    .advanced-search{
        color: $white;
        font-family: "lexiaregular",serif !important;
        text-decoration: none;
        flex: none;
    }
    @media(max-width:992px){
        .container{
            padding: 0 15px !important;
        }
    }
    @media(max-width:767px){
        padding-bottom: 15px;
        
        .input-search-block{
            display: block;
            text-align: center;
            .input-search{
                flex-wrap: wrap;
                .form-control{
                    min-height: 40px;
                    padding-left: 40px;
                    font-size: 14px;
                    margin: 0 0 5px;
                }
                .form-select {
                    min-height: 40px;
                    font-size: 14px;
                }
                .custom-html-dropdown{
                    width: 75%;
                    margin: 0;
                    padding-right: 5px;
                }
                button.btn{
                    padding: 10px;
                    width: 25%;
                }
            }
        }
        .advanced-search {
            margin-top: 10px;
            display: inline-block;
        }
    }
}
// custom-html-dropdown
.custom-html-dropdown{
    position: relative;
    .dropdown-toggle{
        &.show{
            background-color: #8A7098;
            color: #FFFFFF;
        }
        &:after{
            display: none;
        }
    }
    .dropdown-menu{
        width: 100%;
        box-shadow: 0px 2px 4px #0000004D;
        border: 1px solid #3C1053;
        background-color: #8A7098;
        padding: 0;
        top: -2px !important;
        left: -1px !important;
        right: -1px !important;
        @include border-radius(0);
        li{
            padding: 12px 20px;
            border-bottom: 1px solid #3C1053;
            &:last-child{
                border-bottom: none;
            }
            .dropdown-item{
                padding: 0;
                background-color: transparent;
                color: #FFFFFF;
                font-size: 14px;
            }
        }
    }
}
// filter-wrapper
.filter-wrapper{
    background-color: rgba($white,0.9);
    padding: 35px;
    h2{
        font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (1900 - 300)));
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        &:after{
            content: "";
            position: absolute;
            width: 50px;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #3C1053;
        }
    }
    h3{
        font-size: 18px;
    }
    .filter-item{
        .filter-list{
            .form-check{padding-left: 30px;cursor: pointer;}
            .form-check-input{
                @include border-radius(2px);
                margin-left: -30px;cursor: pointer;
                &:checked{
                    border-color: #3C4242;
                    background-color: transparent;
                }
                &:checked[type=checkbox]{
                    background-image:url(../images/icons/icon-check.svg);
                    background-size: 11px;
                }
                &:focus{
                    box-shadow: none;
                }
            }
            .form-check-label{font-size: 16px;cursor: pointer;}
        }
    }
}